<a href="https://colab.research.google.com/github/Mekondjo-EDSA/DSI_Capstone_project/blob/main/capstone_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import libraries

In [1]:
import os
import csv
import json
import pickle
import shutil
import random
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import seaborn as sns
from tqdm import tqdm
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from datetime import datetime,timedelta
from sklearn.impute import SimpleImputer
from matplotlib.gridspec import GridSpec
from sklearn.metrics import roc_curve
from sklearn.metrics import f1_score
from sklearn.metrics import recall_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import precision_score
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
from sklearn.calibration import CalibratedClassifierCV
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
train_ben= pd.read_csv('/content/drive/MyDrive/capstone_dataset/Train_Beneficiarydata-1542865627584.csv')
train_inpat= pd.read_csv('/content/drive/MyDrive/capstone_dataset/Train_Inpatientdata-1542865627584.csv')
train_outpat= pd.read_csv('/content/drive/MyDrive/capstone_dataset/Train_Outpatientdata-1542865627584.csv')
train_y= pd.read_csv('/content/drive/MyDrive/capstone_dataset/Train-1542865627584.csv')

In [10]:
print("Shape of Train Beneficiary file Data:",train_ben.shape)
print("Shape of Train In-patient file Data:", train_inpat.shape)
print("Shape of Train Out-patient file Data:", train_outpat.shape)
print("Shape of Train file Data:", train_y.shape)

Shape of Train Beneficiary file Data: (138556, 25)
Shape of Train In-patient file Data: (40474, 30)
Shape of Train Out-patient file Data: (517737, 27)
Shape of Train file Data: (5410, 2)

In [11]:
out_prov= np.unique(train_outpat['Provider'])
print("The number of Unique Providers in the Train_Outpat file:", len(out_prov))

in_prov= np.unique(train_inpat['Provider'])
print("The number of Unique Providers in the Train_Inpat file", len(in_prov))

com_prov= set(out_prov).intersection(set(in_prov))
print("The number of Providers common to both the Inpat and Outpat files:",len(com_prov))

uni_ele= len(out_prov)+len(in_prov)-len(com_prov)
print("Total Number of Unique Providers in Outpatient and Inpatient datasets Together:",uni_ele)

The number of Unique Providers in the Train_Outpat file: 5012
The number of Unique Providers in the Train_Inpat file 2092
The number of Providers common to both the Inpat and Outpat files: 1694
Total Number of Unique Providers in Outpatient and Inpatient datasets Together: 5410

In [15]:
#Check the columns present in the dataset
print("The columns in the Outpatient Dataset are:",train_outpat.columns)
print("="*100)
print("The columns in the Inpatient Dataset are:",train_inpat.columns)
print("="*100)
print("The columns in the Beneficiary Dataset are:",train_ben.columns)

The columns in the Outpatient Dataset are: Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2',
       'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5',
       'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8',
       'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10', 'ClmProcedureCode_1',
       'ClmProcedureCode_2', 'ClmProcedureCode_3', 'ClmProcedureCode_4',
       'ClmProcedureCode_5', 'ClmProcedureCode_6', 'DeductibleAmtPaid',
       'ClmAdmitDiagnosisCode'],
      dtype='object')
====================================================================================================
The columns in the Inpatient Dataset are: Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'AdmissionDt', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DischargeDt', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6'],
      dtype='object')
====================================================================================================
The columns in the Beneficiary Dataset are: Index(['BeneID', 'DOB', 'DOD', 'Gender', 'Race', 'RenalDiseaseIndicator',
       'State', 'County', 'NoOfMonths_PartACov', 'NoOfMonths_PartBCov',
       'ChronicCond_Alzheimer', 'ChronicCond_Heartfailure',
       'ChronicCond_KidneyDisease', 'ChronicCond_Cancer',
       'ChronicCond_ObstrPulmonary', 'ChronicCond_Depression',
       'ChronicCond_Diabetes', 'ChronicCond_IschemicHeart',
       'ChronicCond_Osteoporasis', 'ChronicCond_rheumatoidarthritis',
       'ChronicCond_stroke', 'IPAnnualReimbursementAmt',
       'IPAnnualDeductibleAmt', 'OPAnnualReimbursementAmt',
       'OPAnnualDeductibleAmt'],
      dtype='object')

In [14]:
#Checking each of the columns in the Outaptient dataset if they are present in the Inpatient Dataset
c_o=[]
for o in train_outpat.columns:
    if o in train_inpat.columns:
        c_o.append(o)

#Checking each of the columns in the Inpatient dataset if they are present in the Outpatient dataset
c_i=[]
for i in train_inpat.columns:
    if i in train_outpat.columns:
        c_i.append(i)
print("Cols of Outpatient dataset also present in Inpatient dataset",len(c_o))
print("Cols of Inpatient dataset also present in Outpatient dataset",len(c_i))

#Checking for common column names in the outpatient and the inpatient datasets 
c_s= set(c_o).intersection(set(c_i))
c_s= list(c_s)
print("Common columns between the outpatient and the inpatient datasets",len(c_s))

Cols of Outpatient dataset also present in Inpatient dataset 27
Cols of Inpatient dataset also present in Outpatient dataset 27
Common columns between the outpatient and the inpatient datasets 27

In [17]:
#Merging the Outpatient and the Inpatient datasets based on the common columns between both the datasets. 
#We will be doing an outer merge as we need to take the union of all the elements in both the datasets 

train_fin_df= pd.merge(train_inpat,train_outpat,left_on=c_s,right_on=c_s,how='outer')
train_fin_df.shape

(558211, 30)

In [18]:
train_fin_df.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN

In [19]:
train_fin= pd.merge(train_fin_df,train_ben, left_on='BeneID',right_on= 'BeneID',how='outer')
train_fin.shape

(558211, 54)

In [20]:
#Merging the Y variable with the final dataset
train_fin= pd.merge(train_fin,train_y,left_on= 'Provider',right_on='Provider',how='outer')
train_fin.shape

(558211, 55)

In [21]:
#Storing the final dataframe as a pickled file
with open('/content/drive/MyDrive/Colab Notebooks/train_fin.pkl','wb') as tr_df:
    pickle.dump(train_fin,tr_df)

In [22]:
#Loading the pickled file
with open('/content/drive/MyDrive/Colab Notebooks/train_fin.pkl','rb') as tr_df:
    train_fin= pickle.load(tr_df)

In [23]:
train_fin.shape

(558211, 55)

In [24]:
#Splitting the Data into Train and Cross Validate Datasets
y = train_fin['PotentialFraud']
train_fin.drop(['PotentialFraud'],axis=1, inplace= True)

In [25]:
train_fin,cv_fin,train_y,cv_y= train_test_split(train_fin,y,test_size=0.2,stratify=y,random_state=42)
print(train_fin.shape)
print(train_y.shape)
print(cv_fin.shape)
print(cv_y.shape)

(446568, 54)
(446568,)
(111643, 54)
(111643,)

In [26]:
train_fin.reset_index(drop=True,inplace=True)
train_y.reset_index(drop=True,inplace=True)

cv_fin.reset_index(drop=True,inplace=True)
cv_y.reset_index(drop=True,inplace=True)

In [27]:

with open('/content/drive/MyDrive/Colab Notebooks/train_x.pkl','wb') as tr_df:
    pickle.dump(train_fin,tr_df)
with open('/content/drive/MyDrive/Colab Notebooks/cv_x.pkl','wb') as cv_df:
    pickle.dump(cv_fin,cv_df)
with open('/content/drive/MyDrive/Colab Notebooks/train_y.pkl','wb') as tr_y:
    pickle.dump(train_y,tr_y)
with open('/content/drive/MyDrive/Colab Notebooks/cv_y.pkl','wb') as c_y:
    pickle.dump(cv_y,c_y)

In [28]:

with open('/content/drive/MyDrive/Colab Notebooks/train_x.pkl','rb') as tr_df:
    train_fin= pickle.load(tr_df)
with open('/content/drive/MyDrive/Colab Notebooks/cv_x.pkl','rb') as cv_df:
    cv_fin= pickle.load(cv_df)
with open('/content/drive/MyDrive/Colab Notebooks/train_y.pkl','rb') as tr_y:
    train_y= pickle.load(tr_y)
with open('/content/drive/MyDrive/Colab Notebooks/cv_y.pkl','rb') as c_y:
    cv_y= pickle.load(c_y)

In [29]:
#Checking for percentage of NAN values in each column in the train dataset
na_perc= np.round(((train_fin.isna().sum())/train_fin.shape[0])*100,2)
na_perc_df= na_perc.to_frame()
na_perc_df.reset_index(inplace= True)
na_perc_df.columns= ["col_name","NAN_percentage"]
print(na_perc_df)

                           col_name  NAN_percentage
0                            BeneID            0.00
1                           ClaimID            0.00
2                      ClaimStartDt            0.00
3                        ClaimEndDt            0.00
4                          Provider            0.00
5            InscClaimAmtReimbursed            0.00
6                AttendingPhysician            0.27
7                OperatingPhysician           79.50
8                    OtherPhysician           64.24
9                       AdmissionDt           92.72
10            ClmAdmitDiagnosisCode           73.88
11                DeductibleAmtPaid            0.16
12                      DischargeDt           92.72
13               DiagnosisGroupCode           92.72
14               ClmDiagnosisCode_1            1.86
15               ClmDiagnosisCode_2           35.04
16               ClmDiagnosisCode_3           56.47
17               ClmDiagnosisCode_4           70.52
18               ClmDiagnosisCode_5           79.93
19               ClmDiagnosisCode_6           84.86
20               ClmDiagnosisCode_7           88.13
21               ClmDiagnosisCode_8           90.42
22               ClmDiagnosisCode_9           92.50
23              ClmDiagnosisCode_10           99.09
24               ClmProcedureCode_1           95.80
25               ClmProcedureCode_2           99.02
26               ClmProcedureCode_3           99.83
27               ClmProcedureCode_4           99.98
28               ClmProcedureCode_5          100.00
29               ClmProcedureCode_6          100.00
30                              DOB            0.00
31                              DOD           99.26
32                           Gender            0.00
33                             Race            0.00
34            RenalDiseaseIndicator            0.00
35                            State            0.00
36                           County            0.00
37              NoOfMonths_PartACov            0.00
38              NoOfMonths_PartBCov            0.00
39            ChronicCond_Alzheimer            0.00
40         ChronicCond_Heartfailure            0.00
41        ChronicCond_KidneyDisease            0.00
42               ChronicCond_Cancer            0.00
43       ChronicCond_ObstrPulmonary            0.00
44           ChronicCond_Depression            0.00
45             ChronicCond_Diabetes            0.00
46        ChronicCond_IschemicHeart            0.00
47         ChronicCond_Osteoporasis            0.00
48  ChronicCond_rheumatoidarthritis            0.00
49               ChronicCond_stroke            0.00
50         IPAnnualReimbursementAmt            0.00
51            IPAnnualDeductibleAmt            0.00
52         OPAnnualReimbursementAmt            0.00
53            OPAnnualDeductibleAmt            0.00

In [30]:
#find the column numbers where the NAN_percentage is Zero
na_col=[]
na_perc= np.round(((train_fin.isna().sum())/train_fin.shape[0])*100,2)
na_perc_df= na_perc.to_frame()
na_perc_df.reset_index(inplace= True)
na_perc_df.columns= ["col_name","na_percentage"]
for i in range(na_perc_df.shape[0]):
    if na_perc_df.iloc[i,1] == 0:
        na_col.append(i)  

print(na_col)

[0, 1, 2, 3, 4, 5, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53]

In [31]:
#Del the columns with 0% NAN values from the newly created na_perc_df dataframe
na_perc_df.drop(index=na_col,inplace=True)
na_perc_df.reset_index(drop=True,inplace=True)
print(na_perc_df)

                 col_name  na_percentage
0      AttendingPhysician           0.27
1      OperatingPhysician          79.50
2          OtherPhysician          64.24
3             AdmissionDt          92.72
4   ClmAdmitDiagnosisCode          73.88
5       DeductibleAmtPaid           0.16
6             DischargeDt          92.72
7      DiagnosisGroupCode          92.72
8      ClmDiagnosisCode_1           1.86
9      ClmDiagnosisCode_2          35.04
10     ClmDiagnosisCode_3          56.47
11     ClmDiagnosisCode_4          70.52
12     ClmDiagnosisCode_5          79.93
13     ClmDiagnosisCode_6          84.86
14     ClmDiagnosisCode_7          88.13
15     ClmDiagnosisCode_8          90.42
16     ClmDiagnosisCode_9          92.50
17    ClmDiagnosisCode_10          99.09
18     ClmProcedureCode_1          95.80
19     ClmProcedureCode_2          99.02
20     ClmProcedureCode_3          99.83
21     ClmProcedureCode_4          99.98
22     ClmProcedureCode_5         100.00
23     ClmProcedureCode_6         100.00
24                    DOD          99.26

In [32]:
#Checking for the percentage of nan values in each of the columns in the CV Data
na_perc_cv= np.round(((cv_fin.isna().sum())/cv_fin.shape[0])*100,2)
na_perc_df_cv= na_perc_cv.to_frame()
na_perc_df_cv.reset_index(inplace= True)
na_perc_df_cv.columns= ["col_name","na_percentage"]
print(na_perc_df_cv)

                           col_name  na_percentage
0                            BeneID           0.00
1                           ClaimID           0.00
2                      ClaimStartDt           0.00
3                        ClaimEndDt           0.00
4                          Provider           0.00
5            InscClaimAmtReimbursed           0.00
6                AttendingPhysician           0.27
7                OperatingPhysician          79.47
8                    OtherPhysician          64.13
9                       AdmissionDt          92.88
10            ClmAdmitDiagnosisCode          73.80
11                DeductibleAmtPaid           0.16
12                      DischargeDt          92.88
13               DiagnosisGroupCode          92.88
14               ClmDiagnosisCode_1           1.92
15               ClmDiagnosisCode_2          35.04
16               ClmDiagnosisCode_3          56.43
17               ClmDiagnosisCode_4          70.53
18               ClmDiagnosisCode_5          80.02
19               ClmDiagnosisCode_6          84.95
20               ClmDiagnosisCode_7          88.21
21               ClmDiagnosisCode_8          90.45
22               ClmDiagnosisCode_9          92.56
23              ClmDiagnosisCode_10          99.14
24               ClmProcedureCode_1          95.91
25               ClmProcedureCode_2          99.02
26               ClmProcedureCode_3          99.83
27               ClmProcedureCode_4          99.98
28               ClmProcedureCode_5         100.00
29               ClmProcedureCode_6         100.00
30                              DOB           0.00
31                              DOD          99.26
32                           Gender           0.00
33                             Race           0.00
34            RenalDiseaseIndicator           0.00
35                            State           0.00
36                           County           0.00
37              NoOfMonths_PartACov           0.00
38              NoOfMonths_PartBCov           0.00
39            ChronicCond_Alzheimer           0.00
40         ChronicCond_Heartfailure           0.00
41        ChronicCond_KidneyDisease           0.00
42               ChronicCond_Cancer           0.00
43       ChronicCond_ObstrPulmonary           0.00
44           ChronicCond_Depression           0.00
45             ChronicCond_Diabetes           0.00
46        ChronicCond_IschemicHeart           0.00
47         ChronicCond_Osteoporasis           0.00
48  ChronicCond_rheumatoidarthritis           0.00
49               ChronicCond_stroke           0.00
50         IPAnnualReimbursementAmt           0.00
51            IPAnnualDeductibleAmt           0.00
52         OPAnnualReimbursementAmt           0.00
53            OPAnnualDeductibleAmt           0.00

In [33]:
na_col_cv=[]
na_perc_cv= np.round(((cv_fin.isna().sum())/cv_fin.shape[0])*100,2)
na_perc_df_cv= na_perc_cv.to_frame()
na_perc_df_cv.reset_index(inplace= True)
na_perc_df_cv.columns= ["col_name","na_percentage"]
for i in range(na_perc_df_cv.shape[0]):
    if na_perc_df_cv.iloc[i,1] == 0:
        na_col_cv.append(i)  

print(na_col_cv)

[0, 1, 2, 3, 4, 5, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53]

In [34]:
na_perc_df_cv.drop(index=na_col_cv,inplace=True)
na_perc_df_cv.reset_index(drop=True,inplace=True)
print(na_perc_df_cv)

                 col_name  na_percentage
0      AttendingPhysician           0.27
1      OperatingPhysician          79.47
2          OtherPhysician          64.13
3             AdmissionDt          92.88
4   ClmAdmitDiagnosisCode          73.80
5       DeductibleAmtPaid           0.16
6             DischargeDt          92.88
7      DiagnosisGroupCode          92.88
8      ClmDiagnosisCode_1           1.92
9      ClmDiagnosisCode_2          35.04
10     ClmDiagnosisCode_3          56.43
11     ClmDiagnosisCode_4          70.53
12     ClmDiagnosisCode_5          80.02
13     ClmDiagnosisCode_6          84.95
14     ClmDiagnosisCode_7          88.21
15     ClmDiagnosisCode_8          90.45
16     ClmDiagnosisCode_9          92.56
17    ClmDiagnosisCode_10          99.14
18     ClmProcedureCode_1          95.91
19     ClmProcedureCode_2          99.02
20     ClmProcedureCode_3          99.83
21     ClmProcedureCode_4          99.98
22     ClmProcedureCode_5         100.00
23     ClmProcedureCode_6         100.00
24                    DOD          99.26

In [35]:
clm_proc= ['ClmProcedureCode_1','ClmProcedureCode_2','ClmProcedureCode_3','ClmProcedureCode_4','ClmProcedureCode_5','ClmProcedureCode_6']

In [36]:
#Isolating all the claim procedure columnns of the train and crossvalidate datasets into seperate dataframes
tr_clm_pr = train_fin[clm_proc]
cv_clm_pr = cv_fin[clm_proc]
print(tr_clm_pr.shape)
print(cv_clm_pr.shape)

(446568, 6)
(111643, 6)

In [37]:
#Creating a new column called '#_Procedures' to save the counts for each row where the counts of the non-nan values in each of the clm_proc are stored
tr_clm_pr['#_Procedures']= np.zeros(len(train_fin['ClmProcedureCode_1']))

for i in tqdm(range(len(tr_clm_pr['ClmProcedureCode_1']))):
    count= 0
    for j in range(len(clm_proc)):
        if pd.isnull(tr_clm_pr.iloc[i,j])== False:
            count=count+1
    
    tr_clm_pr['#_Procedures'][i]= count

100%|██████████| 446568/446568 [03:37<00:00, 2049.27it/s]

In [38]:
cv_clm_pr['#_Procedures']= np.zeros(len(cv_fin['ClmProcedureCode_1']))

#Looping through each of the claim procedure columns and each of the observations
#Counting the number of non-na values in each of the clm_proc columns in the each of the obs
#Storing the count values in a seperate column titled '#_Procedures'
for i in tqdm(range(len(cv_clm_pr['ClmProcedureCode_1']))):
    count= 0
    for j in range(len(clm_proc)):
        if pd.isnull(cv_clm_pr.iloc[i,j])== False:
            count=count+1
    
    cv_clm_pr['#_Procedures'][i]= count

100%|██████████| 111643/111643 [00:55<00:00, 2014.09it/s]

In [39]:
train_fin['#_Procedures']= tr_clm_pr['#_Procedures']
cv_fin['#_Procedures']= cv_clm_pr['#_Procedures']

In [40]:
print(np.unique(train_fin['#_Procedures']))
print(np.unique(cv_fin['#_Procedures']))

[0. 1. 2. 3. 4. 5.]
[0. 1. 2. 3. 4. 5.]

In [41]:
#drop claim procedure code variables
train_fin.drop(clm_proc, axis=1, inplace= True)
cv_fin.drop(clm_proc, axis=1, inplace= True)

In [43]:
clm_diag= ['ClmDiagnosisCode_1','ClmDiagnosisCode_2','ClmDiagnosisCode_3','ClmDiagnosisCode_4','ClmDiagnosisCode_5','ClmDiagnosisCode_6','ClmDiagnosisCode_7','ClmDiagnosisCode_8','ClmDiagnosisCode_9','ClmDiagnosisCode_10']

In [44]:
tr_clm_dg= train_fin[clm_diag]
cv_clm_dg= cv_fin[clm_diag]
print(tr_clm_dg.shape)
print(cv_clm_dg.shape)

(446568, 10)
(111643, 10)

In [45]:
tr_clm_dg['#_DiagnosisCodes']= np.zeros(len(tr_clm_dg['ClmDiagnosisCode_1']))

#Looping through each of the claim diagnosis columns and each of the observations
#Counting the number of non-na values in each of the clm_diag columns in the each of the obs
#Storing the count values in a seperate column titled '#_DiagnosisCodes'
for i in tqdm(range(len(tr_clm_dg['ClmDiagnosisCode_1']))):
    count= 0
    for j in range(len(clm_diag)):
        if pd.isnull(tr_clm_dg.iloc[i,j])== False:
            count=count+1
    
    tr_clm_dg['#_DiagnosisCodes'][i]= count

100%|██████████| 446568/446568 [04:36<00:00, 1612.20it/s]

In [46]:


cv_clm_dg['#_DiagnosisCodes']= np.zeros(len(cv_clm_dg['ClmDiagnosisCode_1']))

#Looping through each of the claim diagnosis columns and each of the observations
#Counting the number of non-na values in each of the clm_diag columns in the each of the obs
#Storing the count values in a seperate column titled '#_DiagnosisCodes'
for i in tqdm(range(len(cv_clm_dg['ClmDiagnosisCode_1']))):
    count= 0
    for j in range(len(clm_diag)):
        if pd.isnull(cv_clm_dg.iloc[i,j])== False:
            count=count+1
    
    cv_clm_dg['#_DiagnosisCodes'][i]= count

100%|██████████| 111643/111643 [01:14<00:00, 1490.68it/s]

In [47]:
train_fin['#_DiagnosisCodes']= tr_clm_dg['#_DiagnosisCodes']
cv_fin['#_DiagnosisCodes']= cv_clm_dg['#_DiagnosisCodes']

In [48]:
#Dropping the 10 Claim Diagnosis codes variables
train_fin.drop(clm_diag,axis=1,inplace= True)
cv_fin.drop(clm_diag,axis=1,inplace= True)

In [49]:
train_fin["HospitalDays"]= pd.to_datetime(train_fin['DischargeDt']) - pd.to_datetime(train_fin['AdmissionDt'])
train_fin["HospitalDays"]= train_fin["HospitalDays"].dt.days

In [50]:
cv_fin["HospitalDays"]= pd.to_datetime(cv_fin['DischargeDt']) - pd.to_datetime(cv_fin['AdmissionDt'])
cv_fin["HospitalDays"]= cv_fin["HospitalDays"].dt.days

In [51]:
train_fin.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,#_Procedures,#_DiagnosisCodes,HospitalDays
0,BENE22189,CLM164897,2009-01-29,2009-01-29,PRV54273,90,PHY419362,NaN,PHY384386,NaN,...,1,2,2,5030,1068,1090,560,0.0,1.0,NaN
1,BENE156743,CLM79687,2009-12-15,2009-12-21,PRV56438,5000,PHY410043,NaN,NaN,2009-12-15,...,2,2,2,5000,1068,70,0,0.0,9.0,6.0
2,BENE157334,CLM724410,2009-12-11,2009-12-31,PRV53918,400,PHY351111,NaN,NaN,NaN,...,2,1,1,0,0,3870,540,0.0,3.0,NaN
3,BENE30606,CLM580231,2009-09-15,2009-09-15,PRV55004,30,PHY342769,NaN,PHY371896,NaN,...,1,2,2,3000,1068,1680,140,0.0,5.0,NaN
4,BENE11648,CLM76557,2009-11-19,2009-11-22,PRV51149,2000,PHY332294,PHY332294,NaN,2009-11-19,...,2,2,2,2000,1068,1160,650,1.0,9.0,3.0

In [52]:
with open('/content/drive/MyDrive/Colab Notebooks/train_fin_n1.pkl','wb') as tr_df:
    pickle.dump(train_fin,tr_df)
with open('/content/drive/MyDrive/Colab Notebooks/cv_fin_n1.pkl','wb') as cv_df:
    pickle.dump(cv_fin,cv_df)

In [53]:
with open('/content/drive/MyDrive/Colab Notebooks/train_fin_n1.pkl','rb') as tr_df:
    train_fin1= pickle.load(tr_df)
with open('/content/drive/MyDrive/Colab Notebooks/cv_fin_n1.pkl','rb') as cv_df:
    cv_fin1= pickle.load(cv_df)

In [54]:
print(train_fin1['HospitalDays'].isna().sum())
print(cv_fin1['HospitalDays'].isna().sum())

414039
103698

In [55]:
#Imputing the NA values in the HospitalDates variable with 0 values
train_fin1["HospitalDays"]=train_fin1["HospitalDays"].fillna(0)
cv_fin1["HospitalDays"]=cv_fin1["HospitalDays"].fillna(0)

In [56]:
#Categorizing the variable as per weeks as it introduces 
#ordinality in the feature as well as seperates out the inpatient and the outpatient data 
for i in tqdm(range(len(train_fin1['HospitalDays']))):
    if train_fin1['HospitalDays'][i]==0.0:
        train_fin1["HospitalDays"][i]= 0
    if train_fin1["HospitalDays"][i]>0 and train_fin1["HospitalDays"][i]<=7:
        train_fin1["HospitalDays"][i]= 1
    elif train_fin1["HospitalDays"][i]>7 and train_fin1["HospitalDays"][i]<=14:
        train_fin1["HospitalDays"][i]= 2 
    elif train_fin1["HospitalDays"][i]>14 and train_fin1["HospitalDays"][i]<=21:
        train_fin1["HospitalDays"][i]= 3
    elif train_fin1["HospitalDays"][i]>21 and train_fin1["HospitalDays"][i]<=28:
        train_fin1["HospitalDays"][i]= 4
    elif train_fin1["HospitalDays"][i]>28:
        train_fin1["HospitalDays"][i]= 5

100%|██████████| 446568/446568 [02:11<00:00, 3387.89it/s]

In [57]:
train_fin1= train_fin1.rename(columns={'HospitalDays':'HospitalWeeks'})
cv_fin1= cv_fin1.rename(columns={'HospitalDays':'HospitalWeeks'})

In [58]:
#Dropping the Admission Date and the Discharge Date columns from the dataset
train_fin1.drop(['AdmissionDt','DischargeDt'], axis=1, inplace=True)
cv_fin1.drop(['AdmissionDt','DischargeDt'], axis=1, inplace=True)

In [59]:
#Imputing the Attending Physician with Mode or MostFrequent strategy using SimpleImputer
cat_imp= SimpleImputer(missing_values= np.nan, strategy= 'most_frequent')
train_fin1["AttendingPhysician"]= cat_imp.fit_transform(train_fin1['AttendingPhysician'].values.reshape(-1,1))[:,0]

In [60]:
train_fin1["AttendingPhysician"].isna().sum()

0

In [63]:
for i in tqdm(range(len(train_fin1["AttendingPhysician"]))):
    if pd.isnull(train_fin1["OperatingPhysician"][i])==True and pd.isnull(train_fin1["OtherPhysician"][i])==True:
        train_fin1["IllnessNature"][i]= "simple"
    elif pd.isnull(train_fin1["OperatingPhysician"][i])==True and pd.isnull(train_fin1["OtherPhysician"][i])==False:
        train_fin1["IllnessNature"][i]= "operating"
    elif pd.isnull(train_fin1["OperatingPhysician"][i])==False and pd.isnull(train_fin1["OtherPhysician"][i])==True:
        train_fin1["IllnessNature"][i]= "comorbid"
    elif pd.isnull(train_fin1["OperatingPhysician"][i])==False and pd.isnull(train_fin1["OtherPhysician"][i])==False:
        train_fin1["IllnessNature"][i]= "operating&comorbid"

100%|██████████| 446568/446568 [00:12<00:00, 35662.81it/s]

In [64]:
for i in tqdm(range(len(cv_fin1["AttendingPhysician"]))):
    if pd.isnull(cv_fin1["OperatingPhysician"][i])==True and pd.isnull(cv_fin1["OtherPhysician"][i])==True:
        cv_fin1["IllnessNature"][i]= "simple"
    elif pd.isnull(cv_fin1["OperatingPhysician"][i])==True and pd.isnull(cv_fin1["OtherPhysician"][i])==False:
        cv_fin1["IllnessNature"][i]= "operating"
    elif pd.isnull(cv_fin1["OperatingPhysician"][i])==False and pd.isnull(cv_fin1["OtherPhysician"][i])==True:
        cv_fin1["IllnessNature"][i]= "comorbid"
    elif pd.isnull(cv_fin1["OperatingPhysician"][i])==False and pd.isnull(cv_fin1["OtherPhysician"][i])==False:
        cv_fin1["IllnessNature"][i]= "operating&comorbid"

100%|██████████| 111643/111643 [00:03<00:00, 35728.71it/s]

In [65]:
print(np.unique(train_fin1["IllnessNature"]))
print(np.unique(cv_fin1["IllnessNature"]))

['comorbid' 'operating' 'operating&comorbid' 'simple']
['comorbid' 'operating' 'operating&comorbid' 'simple']

In [66]:
train_fin1.drop(['OperatingPhysician','OtherPhysician'], axis=1,inplace=True)
cv_fin1.drop(['OperatingPhysician','OtherPhysician'], axis=1,inplace=True)

In [68]:
train_fin1.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,ClmAdmitDiagnosisCode,DeductibleAmtPaid,DiagnosisGroupCode,...,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,#_Procedures,#_DiagnosisCodes,HospitalWeeks,IllnessNature
0,BENE22189,CLM164897,2009-01-29,2009-01-29,PRV54273,90,PHY419362,25000,0.0,NaN,...,2,2,5030,1068,1090,560,0.0,1.0,0.0,operating
1,BENE156743,CLM79687,2009-12-15,2009-12-21,PRV56438,5000,PHY410043,486,1068.0,628,...,2,2,5000,1068,70,0,0.0,9.0,1.0,simple
2,BENE157334,CLM724410,2009-12-11,2009-12-31,PRV53918,400,PHY351111,NaN,0.0,NaN,...,1,1,0,0,3870,540,0.0,3.0,0.0,simple
3,BENE30606,CLM580231,2009-09-15,2009-09-15,PRV55004,30,PHY342769,NaN,0.0,NaN,...,2,2,3000,1068,1680,140,0.0,5.0,0.0,operating
4,BENE11648,CLM76557,2009-11-19,2009-11-22,PRV51149,2000,PHY332294,42823,1068.0,236,...,2,2,2000,1068,1160,650,1.0,9.0,1.0,comorbid

In [69]:
#Extracting the number of days from the claim start date and the claim end dates by taking a difference
#Converting the number of days during which the claim was in process into number of weeks

train_fin1["ClaimDays"]= (pd.to_datetime(train_fin1['ClaimEndDt']) - pd.to_datetime(train_fin1['ClaimStartDt'])).dt.days
cv_fin1["ClaimDays"]= (pd.to_datetime(cv_fin1['ClaimEndDt']) - pd.to_datetime(cv_fin1['ClaimStartDt'])).dt.days

In [70]:
train_fin1.drop(['ClaimEndDt','ClaimStartDt'],axis=1, inplace=True)
cv_fin1.drop(['ClaimEndDt','ClaimStartDt'],axis=1, inplace=True)

In [71]:
for i in tqdm(range(len(train_fin1['ClaimDays']))):
    if train_fin1['ClaimDays'][i]==0:
        train_fin1['ClaimDays'][i]=0 
    elif train_fin1['ClaimDays'][i]>0 and train_fin1['ClaimDays'][i]<=7:
        train_fin1['ClaimDays'][i]= 1
    elif train_fin1['ClaimDays'][i]>7 and train_fin1['ClaimDays'][i]<=14:
        train_fin1['ClaimDays'][i]= 2
    elif train_fin1['ClaimDays'][i]> 14 and train_fin1['ClaimDays'][i]<=21:
        train_fin1['ClaimDays'][i]= 3
    elif train_fin1['ClaimDays'][i]>21 and train_fin1['ClaimDays'][i]<=28:
        train_fin1['ClaimDays'][i]= 4
    elif train_fin1['ClaimDays'][i]>28 and train_fin1['ClaimDays'][i]<=35:
        train_fin1['ClaimDays'][i]=5
    elif train_fin1['ClaimDays'][i]>35:
        train_fin1['ClaimDays'][i]=6

100%|██████████| 446568/446568 [01:57<00:00, 3814.56it/s]

In [72]:
for i in tqdm(range(len(cv_fin1['ClaimDays']))):
    if cv_fin1['ClaimDays'][i]==0:
        cv_fin1['ClaimDays'][i]=0 
    elif cv_fin1['ClaimDays'][i]>0 and cv_fin1['ClaimDays'][i]<=7:
        cv_fin1['ClaimDays'][i]= 1
    elif cv_fin1['ClaimDays'][i]>7 and cv_fin1['ClaimDays'][i]<=14:
        cv_fin1['ClaimDays'][i]= 2
    elif cv_fin1['ClaimDays'][i]> 14 and cv_fin1['ClaimDays'][i]<=21:
        cv_fin1['ClaimDays'][i]= 3
    elif cv_fin1['ClaimDays'][i]>21 and cv_fin1['ClaimDays'][i]<=28:
        cv_fin1['ClaimDays'][i]= 4
    elif cv_fin1['ClaimDays'][i]>28 and cv_fin1['ClaimDays'][i]<=35:
        cv_fin1['ClaimDays'][i]=5
    elif cv_fin1['ClaimDays'][i]>35:
        cv_fin1['ClaimDays'][i]=6

100%|██████████| 111643/111643 [00:29<00:00, 3780.53it/s]

In [73]:
train_fin1= train_fin1.rename(columns={'ClaimDays':'ClaimWeeks'})
cv_fin1= cv_fin1.rename(columns={'ClaimDays':'ClaimWeeks'})

In [74]:
with open('/content/drive/MyDrive/Colab Notebooks/train_fin_n2.pkl','wb') as tr_df:
    pickle.dump(train_fin1,tr_df)
with open('/content/drive/MyDrive/Colab Notebooks/cv_fin_n2.pkl','wb') as cv_df:
    pickle.dump(cv_fin1,cv_df)

In [75]:
with open('/content/drive/MyDrive/Colab Notebooks/train_fin_n2.pkl','rb') as tr_df:
    train_fin2= pickle.load(tr_df)
with open('/content/drive/MyDrive/Colab Notebooks/cv_fin_n2.pkl','rb') as cv_df:
    cv_fin2= pickle.load(cv_df)

In [76]:
train_fin2['DiagnosisGroupCode']= train_fin2['DiagnosisGroupCode'].fillna(0)
cv_fin2['DiagnosisGroupCode']= cv_fin2['DiagnosisGroupCode'].fillna(0)

In [77]:
train_fin2['DiagnosisGroupCode']= train_fin2['DiagnosisGroupCode'].astype('str')
train_fin2['DiagnosisGroupCode']= train_fin2['DiagnosisGroupCode'].astype('str')

train_fin2['DiagnosisGroupCode'].describe()

count     446568
unique       735
top            0
freq      414039
Name: DiagnosisGroupCode, dtype: object

In [78]:
train_fin2['PotentialFraud']= train_y
cv_fin2['PotentialFraud']= cv_y

In [79]:
#Calculating the proabilities of each of the categories in a column
def response_coding(tr_data,cv_data,col,y):
    tr_yes_list=[]
    tr_no_list=[]
    cv_yes_list=[]
    cv_no_list=[]
    
    val_dict= dict(tr_data.groupby([col])[y].value_counts())
    
    for i in range(len(tr_data[col])):
        t_y= val_dict.get((tr_data[col][i],'Yes'),0.1)
        t_n= val_dict.get((tr_data[col][i],'No'),0.1)
        tr_yes_list.append(t_y/(t_y+t_n))
        tr_no_list.append(t_n/(t_y+t_n))

    for j in range(len(cv_data[col])):
        c_y= val_dict.get((cv_data[col][j],'Yes'),0.1)
        c_n= val_dict.get((cv_data[col][j],'No'),0.1)
        cv_yes_list.append(c_y/(c_y+c_n))
        cv_no_list.append(c_n/(c_y+c_n))  
    
    return tr_yes_list,tr_no_list,cv_yes_list,cv_no_list,val_dict

In [80]:
train_fin2['State_Yes']= np.zeros(len(train_fin2['State']))
train_fin2['State_No']= np.zeros(len(train_fin2['State']))

cv_fin2['State_Yes']= np.zeros(len(cv_fin2['State']))
cv_fin2['State_No']= np.zeros(len(cv_fin2['State']))

train_fin2['State_Yes'],train_fin2['State_No'],cv_fin2['State_Yes'],cv_fin2['State_No'],state_dict= response_coding(train_fin2,cv_fin2,'State','PotentialFraud')
print(state_dict)

{(1, 'No'): 5427, (1, 'Yes'): 2822, (2, 'No'): 430, (2, 'Yes'): 161, (3, 'No'): 5845, (3, 'Yes'): 1619, (4, 'No'): 4482, (4, 'Yes'): 1562, (5, 'Yes'): 24244, (5, 'No'): 16819, (6, 'Yes'): 2922, (6, 'No'): 2862, (7, 'No'): 3340, (7, 'Yes'): 1186, (8, 'No'): 728, (8, 'Yes'): 492, (9, 'No'): 364, (9, 'Yes'): 145, (10, 'No'): 17273, (10, 'Yes'): 14020, (11, 'No'): 10273, (11, 'Yes'): 3299, (12, 'No'): 1093, (12, 'Yes'): 240, (13, 'No'): 1514, (13, 'Yes'): 680, (14, 'No'): 12697, (14, 'Yes'): 6797, (15, 'No'): 7656, (15, 'Yes'): 3729, (16, 'No'): 3753, (16, 'Yes'): 2183, (17, 'No'): 3120, (17, 'Yes'): 805, (18, 'No'): 6924, (18, 'Yes'): 1356, (19, 'No'): 5000, (19, 'Yes'): 1375, (20, 'No'): 2181, (20, 'Yes'): 881, (21, 'No'): 6945, (21, 'Yes'): 2056, (22, 'Yes'): 6220, (22, 'No'): 4690, (23, 'No'): 10253, (23, 'Yes'): 6845, (24, 'No'): 3438, (24, 'Yes'): 2732, (25, 'No'): 4682, (25, 'Yes'): 684, (26, 'No'): 6150, (26, 'Yes'): 4236, (27, 'No'): 1128, (27, 'Yes'): 456, (28, 'No'): 2913, (28, 'Yes'): 396, (29, 'No'): 1259, (29, 'Yes'): 337, (30, 'No'): 1181, (30, 'Yes'): 948, (31, 'Yes'): 7285, (31, 'No'): 5411, (32, 'No'): 1383, (32, 'Yes'): 1382, (33, 'Yes'): 13922, (33, 'No'): 13917, (34, 'No'): 11582, (34, 'Yes'): 3551, (35, 'No'): 693, (35, 'Yes'): 65, (36, 'No'): 11911, (36, 'Yes'): 5111, (37, 'No'): 4145, (37, 'Yes'): 1455, (38, 'No'): 3786, (38, 'Yes'): 619, (39, 'No'): 10257, (39, 'Yes'): 9110, (41, 'No'): 758, (41, 'Yes'): 124, (42, 'No'): 5852, (42, 'Yes'): 2564, (43, 'No'): 1366, (43, 'Yes'): 250, (44, 'No'): 6148, (44, 'Yes'): 5365, (45, 'No'): 19042, (45, 'Yes'): 8137, (46, 'Yes'): 1705, (46, 'No'): 1006, (47, 'No'): 1165, (47, 'Yes'): 305, (49, 'Yes'): 6924, (49, 'No'): 5089, (50, 'No'): 5584, (50, 'Yes'): 3826, (51, 'No'): 3409, (51, 'Yes'): 381, (52, 'No'): 6250, (52, 'Yes'): 1571, (53, 'No'): 517, (53, 'Yes'): 382, (54, 'No'): 2641, (54, 'Yes'): 774}

In [81]:
train_fin2['County_Yes']= np.zeros(len(train_fin2['County']))
train_fin2['County_No']= np.zeros(len(train_fin2['County']))

cv_fin2['County_Yes']= np.zeros(len(cv_fin2['County']))
cv_fin2['County_No']= np.zeros(len(cv_fin2['County']))

train_fin2['County_Yes'],train_fin2['County_No'],cv_fin2['County_Yes'],cv_fin2['County_No'],county_dict= response_coding(train_fin2,cv_fin2,'County','PotentialFraud')
print(county_dict)

{(0, 'No'): 5333, (0, 'Yes'): 3885, (1, 'No'): 7, (1, 'Yes'): 4, (10, 'No'): 8580, (10, 'Yes'): 2561, (11, 'No'): 156, (11, 'Yes'): 60, (14, 'Yes'): 5, (20, 'No'): 6752, (20, 'Yes'): 3344, (25, 'Yes'): 31, (25, 'No'): 11, (30, 'No'): 3584, (30, 'Yes'): 1401, (34, 'No'): 8, (34, 'Yes'): 2, (40, 'No'): 4264, (40, 'Yes'): 1784, (50, 'No'): 4351, (50, 'Yes'): 1982, (55, 'No'): 17, (55, 'Yes'): 8, (60, 'No'): 7090, (60, 'Yes'): 2535, (70, 'No'): 4353, (70, 'Yes'): 1066, (80, 'No'): 3473, (80, 'Yes'): 1234, (84, 'Yes'): 7, (84, 'No'): 1, (88, 'Yes'): 52, (88, 'No'): 16, (90, 'No'): 5635, (90, 'Yes'): 3250, (100, 'No'): 3985, (100, 'Yes'): 1403, (110, 'No'): 1764, (110, 'Yes'): 1267, (111, 'Yes'): 61, (111, 'No'): 41, (113, 'No'): 9, (113, 'Yes'): 4, (117, 'No'): 9, (117, 'Yes'): 3, (120, 'No'): 3970, (120, 'Yes'): 1844, (130, 'Yes'): 3655, (130, 'No'): 2979, (131, 'No'): 11, (131, 'Yes'): 8, (140, 'No'): 2789, (140, 'Yes'): 1495, (141, 'No'): 4628, (141, 'Yes'): 2550, (150, 'No'): 4653, (150, 'Yes'): 3099, (160, 'No'): 4599, (160, 'Yes'): 3916, (161, 'No'): 17, (170, 'Yes'): 3502, (170, 'No'): 2957, (180, 'No'): 1539, (180, 'Yes'): 1424, (190, 'No'): 2356, (190, 'Yes'): 919, (191, 'Yes'): 42, (191, 'No'): 39, (194, 'Yes'): 193, (194, 'No'): 27, (200, 'Yes'): 8030, (200, 'No'): 4738, (210, 'No'): 2127, (210, 'Yes'): 871, (211, 'No'): 7, (211, 'Yes'): 5, (212, 'Yes'): 12, (212, 'No'): 8, (213, 'Yes'): 23, (213, 'No'): 16, (220, 'No'): 2717, (220, 'Yes'): 1365, (221, 'No'): 19, (222, 'No'): 45, (222, 'Yes'): 27, (223, 'No'): 11, (223, 'Yes'): 4, (224, 'No'): 8, (224, 'Yes'): 2, (230, 'No'): 2322, (230, 'Yes'): 1143, (240, 'No'): 3882, (240, 'Yes'): 1348, (241, 'No'): 114, (241, 'Yes'): 95, (250, 'No'): 4316, (250, 'Yes'): 2400, (251, 'Yes'): 56, (251, 'No'): 38, (260, 'No'): 2589, (260, 'Yes'): 2223, (270, 'No'): 3321, (270, 'Yes'): 1760, (271, 'No'): 16, (271, 'Yes'): 2, (280, 'No'): 2746, (280, 'Yes'): 2060, (281, 'No'): 56, (281, 'Yes'): 6, (288, 'No'): 86, (288, 'Yes'): 83, (290, 'No'): 3485, (290, 'Yes'): 3024, (291, 'No'): 163, (291, 'Yes'): 33, (292, 'No'): 17, (300, 'No'): 2582, (300, 'Yes'): 1378, (301, 'No'): 43, (310, 'No'): 4481, (310, 'Yes'): 2736, (311, 'No'): 27, (311, 'Yes'): 1, (312, 'No'): 45, (312, 'Yes'): 2, (320, 'No'): 2822, (320, 'Yes'): 1060, (321, 'No'): 33, (321, 'Yes'): 1, (328, 'No'): 12, (328, 'Yes'): 5, (330, 'No'): 2776, (330, 'Yes'): 1352, (331, 'Yes'): 2590, (331, 'No'): 622, (340, 'No'): 2480, (340, 'Yes'): 819, (341, 'No'): 110, (341, 'Yes'): 16, (342, 'No'): 52, (342, 'Yes'): 47, (343, 'No'): 37, (343, 'Yes'): 25, (350, 'No'): 2991, (350, 'Yes'): 1432, (360, 'No'): 2581, (360, 'Yes'): 1138, (361, 'No'): 24, (361, 'Yes'): 1, (362, 'No'): 23, (370, 'No'): 2815, (370, 'Yes'): 1404, (380, 'No'): 1824, (380, 'Yes'): 860, (381, 'No'): 33, (381, 'Yes'): 6, (390, 'No'): 3582, (390, 'Yes'): 2752, (391, 'No'): 18, (391, 'Yes'): 1, (392, 'No'): 17, (400, 'Yes'): 4787, (400, 'No'): 4564, (410, 'No'): 2991, (410, 'Yes'): 1181, (411, 'No'): 154, (411, 'Yes'): 83, (412, 'No'): 4, (412, 'Yes'): 2, (420, 'No'): 2901, (420, 'Yes'): 1703, (421, 'No'): 103, (421, 'Yes'): 11, (430, 'No'): 2420, (430, 'Yes'): 1713, (431, 'No'): 23, (431, 'Yes'): 3, (440, 'Yes'): 3473, (440, 'No'): 2561, (441, 'Yes'): 7, (441, 'No'): 5, (450, 'No'): 1843, (450, 'Yes'): 620, (451, 'No'): 386, (451, 'Yes'): 37, (460, 'No'): 3302, (460, 'Yes'): 895, (461, 'No'): 120, (461, 'Yes'): 12, (462, 'No'): 105, (462, 'Yes'): 7, (470, 'Yes'): 5620, (470, 'No'): 4190, (471, 'No'): 52, (471, 'Yes'): 1, (480, 'No'): 4224, (480, 'Yes'): 1958, (490, 'No'): 4033, (490, 'Yes'): 3588, (500, 'No'): 2786, (500, 'Yes'): 1149, (510, 'Yes'): 2835, (510, 'No'): 2704, (511, 'No'): 94, (511, 'Yes'): 2, (520, 'No'): 2096, (520, 'Yes'): 1692, (522, 'Yes'): 18, (522, 'No'): 11, (530, 'No'): 2470, (530, 'Yes'): 2301, (531, 'No'): 21, (531, 'Yes'): 16, (540, 'No'): 2574, (540, 'Yes'): 772, (541, 'No'): 55, (541, 'Yes'): 18, (542, 'No'): 17, (550, 'No'): 3640, (550, 'Yes'): 740, (551, 'No'): 133, (551, 'Yes'): 58, (552, 'Yes'): 32, (552, 'No'): 14, (560, 'No'): 2378, (560, 'Yes'): 791, (561, 'Yes'): 66, (561, 'No'): 47, (562, 'Yes'): 5, (562, 'No'): 4, (563, 'No'): 78, (563, 'Yes'): 74, (564, 'Yes'): 284, (564, 'No'): 24, (570, 'No'): 2278, (570, 'Yes'): 1606, (580, 'No'): 2886, (580, 'Yes'): 897, (581, 'No'): 141, (581, 'Yes'): 46, (582, 'No'): 20, (583, 'No'): 6, (590, 'Yes'): 4648, (590, 'No'): 2716, (591, 'No'): 180, (591, 'Yes'): 34, (592, 'No'): 14, (592, 'Yes'): 2, (600, 'No'): 2115, (600, 'Yes'): 840, (601, 'No'): 48, (601, 'Yes'): 6, (610, 'No'): 3391, (610, 'Yes'): 1426, (611, 'No'): 52, (611, 'Yes'): 3, (612, 'No'): 4, (612, 'Yes'): 2, (620, 'Yes'): 3770, (620, 'No'): 2748, (621, 'Yes'): 40, (621, 'No'): 8, (622, 'No'): 166, (622, 'Yes'): 150, (630, 'No'): 1577, (630, 'Yes'): 1396, (631, 'No'): 92, (631, 'Yes'): 15, (632, 'No'): 12, (632, 'Yes'): 1, (640, 'No'): 1900, (640, 'Yes'): 676, (641, 'Yes'): 228, (641, 'No'): 32, (650, 'No'): 2678, (650, 'Yes'): 692, (651, 'No'): 73, (651, 'Yes'): 8, (652, 'No'): 29, (653, 'No'): 147, (653, 'Yes'): 26, (654, 'No'): 45, (654, 'Yes'): 42, (660, 'No'): 1700, (660, 'Yes'): 750, (661, 'No'): 19, (662, 'No'): 6, (662, 'Yes'): 3, (670, 'No'): 1011, (670, 'Yes'): 476, (671, 'No'): 48, (671, 'Yes'): 3, (672, 'No'): 7, (680, 'No'): 1738, (680, 'Yes'): 508, (681, 'No'): 30, (690, 'No'): 1324, (690, 'Yes'): 506, (691, 'No'): 23, (700, 'Yes'): 2356, (700, 'No'): 1974, (701, 'No'): 47, (701, 'Yes'): 27, (702, 'No'): 53, (702, 'Yes'): 2, (703, 'No'): 30, (710, 'No'): 1204, (710, 'Yes'): 574, (711, 'Yes'): 174, (711, 'No'): 50, (712, 'Yes'): 2, (712, 'No'): 1, (720, 'No'): 1039, (720, 'Yes'): 913, (722, 'No'): 41, (722, 'Yes'): 8, (730, 'No'): 1368, (730, 'Yes'): 368, (731, 'Yes'): 95, (731, 'No'): 34, (734, 'No'): 74, (734, 'Yes'): 40, (740, 'No'): 824, (740, 'Yes'): 675, (741, 'No'): 19, (742, 'No'): 1, (743, 'No'): 79, (743, 'Yes'): 3, (744, 'No'): 6, (750, 'No'): 1263, (750, 'Yes'): 892, (751, 'Yes'): 33, (751, 'No'): 23, (752, 'No'): 29, (752, 'Yes'): 4, (753, 'No'): 3, (754, 'No'): 46, (754, 'Yes'): 1, (755, 'No'): 6, (756, 'No'): 69, (756, 'Yes'): 2, (757, 'No'): 104, (757, 'Yes'): 4, (758, 'No'): 58, (760, 'Yes'): 850, (760, 'No'): 817, (761, 'No'): 19, (761, 'Yes'): 4, (770, 'No'): 2238, (770, 'Yes'): 1254, (771, 'No'): 92, (771, 'Yes'): 16, (772, 'No'): 81, (772, 'Yes'): 3, (780, 'Yes'): 2290, (780, 'No'): 1509, (782, 'No'): 40, (783, 'No'): 24, (783, 'Yes'): 1, (784, 'No'): 6, (785, 'No'): 18, (790, 'No'): 844, (790, 'Yes'): 378, (791, 'Yes'): 438, (791, 'No'): 162, (792, 'No'): 64, (792, 'Yes'): 11, (793, 'No'): 9, (794, 'No'): 185, (794, 'Yes'): 4, (795, 'No'): 26, (796, 'No'): 3, (797, 'No'): 16, (800, 'No'): 1839, (800, 'Yes'): 827, (801, 'No'): 296, (801, 'Yes'): 238, (802, 'No'): 52, (802, 'Yes'): 18, (803, 'No'): 32, (803, 'Yes'): 4, (810, 'No'): 2787, (810, 'Yes'): 2072, (811, 'No'): 54, (812, 'No'): 82, (812, 'Yes'): 8, (820, 'No'): 520, (820, 'Yes'): 284, (821, 'No'): 79, (821, 'Yes'): 23, (822, 'No'): 20, (830, 'No'): 1045, (830, 'Yes'): 178, (831, 'No'): 73, (831, 'Yes'): 1, (832, 'No'): 62, (832, 'Yes'): 11, (835, 'No'): 9, (835, 'Yes'): 1, (838, 'Yes'): 46, (838, 'No'): 41, (840, 'No'): 1017, (840, 'Yes'): 250, (841, 'No'): 47, (841, 'Yes'): 44, (842, 'No'): 41, (842, 'Yes'): 6, (843, 'No'): 212, (843, 'Yes'): 6, (844, 'No'): 13, (845, 'No'): 17, (845, 'Yes'): 2, (850, 'No'): 588, (850, 'Yes'): 145, (851, 'No'): 18, (851, 'Yes'): 1, (860, 'No'): 1254, (860, 'Yes'): 625, (861, 'No'): 94, (861, 'Yes'): 4, (862, 'No'): 13, (862, 'Yes'): 4, (867, 'No'): 31, (867, 'Yes'): 6, (870, 'No'): 380, (870, 'Yes'): 94, (871, 'No'): 37, (871, 'Yes'): 5, (873, 'No'): 2, (873, 'Yes'): 1, (874, 'Yes'): 31, (874, 'No'): 7, (875, 'No'): 8, (876, 'Yes'): 2, (878, 'No'): 10, (879, 'No'): 61, (879, 'Yes'): 25, (880, 'No'): 764, (880, 'Yes'): 207, (881, 'Yes'): 64, (881, 'No'): 37, (882, 'No'): 68, (882, 'Yes'): 2, (883, 'No'): 53, (883, 'Yes'): 8, (884, 'No'): 38, (885, 'No'): 122, (885, 'Yes'): 12, (886, 'No'): 10, (887, 'No'): 13, (888, 'No'): 36, (890, 'No'): 1050, (890, 'Yes'): 194, (891, 'Yes'): 95, (891, 'No'): 4, (892, 'Yes'): 393, (892, 'No'): 108, (893, 'No'): 19, (893, 'Yes'): 1, (900, 'No'): 531, (900, 'Yes'): 225, (901, 'No'): 19, (901, 'Yes'): 5, (902, 'No'): 36, (902, 'Yes'): 1, (903, 'No'): 5, (903, 'Yes'): 1, (904, 'No'): 10, (905, 'No'): 21, (910, 'No'): 2369, (910, 'Yes'): 1433, (911, 'No'): 259, (911, 'Yes'): 7, (912, 'No'): 6, (913, 'No'): 80, (913, 'Yes'): 2, (920, 'No'): 761, (920, 'Yes'): 90, (921, 'No'): 400, (921, 'Yes'): 396, (930, 'No'): 441, (930, 'Yes'): 208, (931, 'No'): 2, (931, 'Yes'): 1, (932, 'No'): 9, (932, 'Yes'): 6, (940, 'No'): 1687, (940, 'Yes'): 1268, (941, 'No'): 30, (941, 'Yes'): 8, (942, 'No'): 73, (942, 'Yes'): 1, (943, 'No'): 36, (943, 'Yes'): 19, (944, 'No'): 2, (945, 'No'): 66, (945, 'Yes'): 5, (946, 'No'): 93, (946, 'Yes'): 4, (947, 'Yes'): 51, (947, 'No'): 16, (948, 'No'): 111, (948, 'Yes'): 9, (949, 'Yes'): 8, (949, 'No'): 7, (950, 'No'): 487, (950, 'Yes'): 220, (951, 'Yes'): 66, (951, 'No'): 40, (952, 'No'): 44, (953, 'No'): 172, (953, 'Yes'): 48, (954, 'No'): 44, (954, 'Yes'): 6, (955, 'No'): 16, (955, 'Yes'): 1, (960, 'No'): 615, (960, 'Yes'): 194, (961, 'Yes'): 81, (961, 'No'): 15, (962, 'No'): 81, (962, 'Yes'): 32, (963, 'No'): 9, (963, 'Yes'): 1, (970, 'No'): 891, (970, 'Yes'): 103, (971, 'No'): 139, (971, 'Yes'): 18, (972, 'No'): 51, (972, 'Yes'): 13, (973, 'No'): 152, (973, 'Yes'): 5, (974, 'Yes'): 135, (974, 'No'): 49, (975, 'No'): 25, (975, 'Yes'): 4, (976, 'No'): 48, (976, 'Yes'): 2, (977, 'No'): 79, (977, 'Yes'): 4, (978, 'No'): 58, (978, 'Yes'): 15, (979, 'No'): 48, (979, 'Yes'): 1, (980, 'No'): 245, (980, 'Yes'): 41, (981, 'No'): 247, (981, 'Yes'): 149, (982, 'No'): 277, (982, 'Yes'): 23, (983, 'No'): 92, (983, 'Yes'): 5, (984, 'No'): 139, (984, 'Yes'): 20, (985, 'No'): 24, (985, 'Yes'): 21, (986, 'No'): 325, (986, 'Yes'): 115, (987, 'No'): 41, (987, 'Yes'): 3, (988, 'No'): 178, (988, 'Yes'): 164, (989, 'Yes'): 484, (989, 'No'): 476, (990, 'No'): 278, (990, 'Yes'): 32, (991, 'Yes'): 597, (991, 'No'): 103, (992, 'No'): 145, (992, 'Yes'): 24, (993, 'No'): 34, (993, 'Yes'): 10, (994, 'Yes'): 69, (994, 'No'): 21, (996, 'Yes'): 40, (996, 'No'): 12, (999, 'No'): 530, (999, 'Yes'): 234}

In [82]:
train_fin2['DGC_Yes']= np.zeros(len(train_fin2['DiagnosisGroupCode']))
train_fin2['DGC_No']= np.zeros(len(train_fin2['DiagnosisGroupCode']))

cv_fin2['DGC_Yes']= np.zeros(len(cv_fin2['DiagnosisGroupCode']))
cv_fin2['DGC_No']= np.zeros(len(cv_fin2['DiagnosisGroupCode']))

train_fin2['DGC_Yes'],train_fin2['DGC_No'],cv_fin2['DGC_Yes'],cv_fin2['DGC_No'],dgc_dict= response_coding(train_fin2,cv_fin2,'DiagnosisGroupCode','PotentialFraud')
print(dgc_dict)

{('0', 'No'): 262599, ('0', 'Yes'): 151440, ('000', 'Yes'): 65, ('000', 'No'): 43, ('001', 'Yes'): 6, ('001', 'No'): 2, ('002', 'No'): 9, ('002', 'Yes'): 6, ('003', 'Yes'): 8, ('003', 'No'): 5, ('004', 'Yes'): 9, ('004', 'No'): 5, ('005', 'Yes'): 6, ('005', 'No'): 5, ('006', 'No'): 5, ('006', 'Yes'): 3, ('007', 'Yes'): 5, ('007', 'No'): 2, ('008', 'Yes'): 9, ('008', 'No'): 3, ('009', 'No'): 4, ('009', 'Yes'): 4, ('010', 'No'): 5, ('010', 'Yes'): 2, ('011', 'No'): 8, ('011', 'Yes'): 5, ('012', 'Yes'): 10, ('012', 'No'): 3, ('013', 'Yes'): 7, ('013', 'No'): 1, ('020', 'Yes'): 18, ('020', 'No'): 7, ('021', 'Yes'): 20, ('021', 'No'): 7, ('022', 'Yes'): 22, ('022', 'No'): 10, ('023', 'Yes'): 10, ('023', 'No'): 8, ('024', 'Yes'): 18, ('024', 'No'): 5, ('025', 'No'): 18, ('025', 'Yes'): 16, ('026', 'Yes'): 19, ('026', 'No'): 10, ('027', 'No'): 18, ('027', 'Yes'): 12, ('028', 'Yes'): 23, ('028', 'No'): 14, ('029', 'Yes'): 21, ('029', 'No'): 18, ('030', 'Yes'): 17, ('030', 'No'): 15, ('031', 'Yes'): 18, ('031', 'No'): 16, ('032', 'Yes'): 20, ('032', 'No'): 18, ('033', 'Yes'): 15, ('033', 'No'): 8, ('034', 'Yes'): 22, ('034', 'No'): 15, ('035', 'No'): 21, ('035', 'Yes'): 20, ('036', 'Yes'): 19, ('036', 'No'): 13, ('037', 'No'): 19, ('037', 'Yes'): 18, ('038', 'Yes'): 21, ('038', 'No'): 14, ('039', 'Yes'): 28, ('039', 'No'): 17, ('040', 'Yes'): 20, ('040', 'No'): 15, ('041', 'Yes'): 17, ('041', 'No'): 15, ('042', 'Yes'): 21, ('042', 'No'): 14, ('052', 'Yes'): 18, ('052', 'No'): 13, ('053', 'Yes'): 27, ('053', 'No'): 20, ('054', 'Yes'): 22, ('054', 'No'): 18, ('055', 'No'): 20, ('055', 'Yes'): 20, ('056', 'No'): 15, ('056', 'Yes'): 15, ('057', 'Yes'): 16, ('057', 'No'): 15, ('058', 'Yes'): 18, ('058', 'No'): 15, ('059', 'Yes'): 15, ('059', 'No'): 4, ('060', 'Yes'): 22, ('060', 'No'): 13, ('061', 'No'): 13, ('061', 'Yes'): 12, ('062', 'Yes'): 17, ('062', 'No'): 12, ('063', 'No'): 19, ('063', 'Yes'): 16, ('064', 'Yes'): 19, ('064', 'No'): 13, ('065', 'Yes'): 18, ('065', 'No'): 16, ('066', 'Yes'): 18, ('066', 'No'): 12, ('067', 'Yes'): 20, ('067', 'No'): 13, ('068', 'Yes'): 17, ('068', 'No'): 13, ('069', 'Yes'): 20, ('069', 'No'): 17, ('070', 'Yes'): 30, ('070', 'No'): 11, ('071', 'No'): 15, ('071', 'Yes'): 15, ('072', 'Yes'): 16, ('072', 'No'): 14, ('073', 'Yes'): 17, ('073', 'No'): 15, ('074', 'Yes'): 19, ('074', 'No'): 12, ('075', 'Yes'): 21, ('075', 'No'): 16, ('076', 'Yes'): 19, ('076', 'No'): 12, ('077', 'No'): 18, ('077', 'Yes'): 15, ('078', 'Yes'): 26, ('078', 'No'): 9, ('079', 'Yes'): 16, ('079', 'No'): 14, ('080', 'Yes'): 18, ('080', 'No'): 16, ('081', 'Yes'): 21, ('081', 'No'): 5, ('082', 'Yes'): 16, ('082', 'No'): 15, ('083', 'Yes'): 15, ('083', 'No'): 6, ('084', 'Yes'): 19, ('084', 'No'): 10, ('085', 'Yes'): 17, ('085', 'No'): 10, ('086', 'No'): 18, ('086', 'Yes'): 15, ('087', 'No'): 23, ('087', 'Yes'): 16, ('088', 'Yes'): 21, ('088', 'No'): 14, ('089', 'Yes'): 27, ('089', 'No'): 8, ('090', 'No'): 19, ('090', 'Yes'): 14, ('091', 'No'): 17, ('091', 'Yes'): 15, ('092', 'Yes'): 17, ('092', 'No'): 11, ('093', 'Yes'): 18, ('093', 'No'): 16, ('094', 'No'): 11, ('094', 'Yes'): 10, ('095', 'Yes'): 24, ('095', 'No'): 13, ('096', 'Yes'): 14, ('096', 'No'): 8, ('097', 'Yes'): 20, ('097', 'No'): 19, ('098', 'No'): 15, ('098', 'Yes'): 15, ('099', 'Yes'): 21, ('099', 'No'): 6, ('100', 'No'): 18, ('100', 'Yes'): 18, ('101', 'No'): 14, ('101', 'Yes'): 9, ('102', 'Yes'): 22, ('102', 'No'): 14, ('103', 'Yes'): 14, ('103', 'No'): 9, ('113', 'Yes'): 3, ('114', 'No'): 1, ('114', 'Yes'): 1, ('115', 'Yes'): 2, ('116', 'Yes'): 2, ('117', 'Yes'): 2, ('122', 'Yes'): 4, ('122', 'No'): 1, ('124', 'Yes'): 3, ('125', 'Yes'): 3, ('125', 'No'): 1, ('129', 'Yes'): 7, ('129', 'No'): 2, ('130', 'Yes'): 8, ('130', 'No'): 5, ('131', 'Yes'): 7, ('131', 'No'): 2, ('132', 'No'): 4, ('132', 'Yes'): 3, ('133', 'Yes'): 4, ('133', 'No'): 3, ('134', 'No'): 8, ('134', 'Yes'): 4, ('135', 'Yes'): 10, ('135', 'No'): 4, ('136', 'Yes'): 4, ('136', 'No'): 1, ('137', 'Yes'): 10, ('137', 'No'): 1, ('138', 'Yes'): 11, ('138', 'No'): 4, ('139', 'Yes'): 4, ('139', 'No'): 1, ('146', 'Yes'): 8, ('146', 'No'): 3, ('147', 'No'): 7, ('147', 'Yes'): 5, ('148', 'No'): 4, ('148', 'Yes'): 3, ('149', 'Yes'): 5, ('149', 'No'): 1, ('150', 'Yes'): 10, ('150', 'No'): 3, ('151', 'Yes'): 4, ('151', 'No'): 3, ('152', 'No'): 5, ('152', 'Yes'): 4, ('153', 'Yes'): 7, ('153', 'No'): 4, ('154', 'No'): 4, ('154', 'Yes'): 1, ('155', 'Yes'): 5, ('155', 'No'): 2, ('156', 'No'): 6, ('156', 'Yes'): 6, ('157', 'No'): 8, ('157', 'Yes'): 6, ('158', 'Yes'): 6, ('158', 'No'): 4, ('159', 'No'): 7, ('159', 'Yes'): 2, ('163', 'Yes'): 59, ('163', 'No'): 40, ('164', 'Yes'): 72, ('164', 'No'): 45, ('165', 'Yes'): 70, ('165', 'No'): 34, ('166', 'Yes'): 83, ('166', 'No'): 47, ('167', 'No'): 62, ('167', 'Yes'): 55, ('168', 'Yes'): 74, ('168', 'No'): 52, ('175', 'Yes'): 70, ('175', 'No'): 52, ('176', 'Yes'): 58, ('176', 'No'): 47, ('177', 'Yes'): 75, ('177', 'No'): 51, ('178', 'No'): 50, ('178', 'Yes'): 48, ('179', 'Yes'): 66, ('179', 'No'): 37, ('180', 'Yes'): 70, ('180', 'No'): 49, ('181', 'Yes'): 73, ('181', 'No'): 52, ('182', 'Yes'): 60, ('182', 'No'): 53, ('183', 'Yes'): 68, ('183', 'No'): 63, ('184', 'Yes'): 73, ('184', 'No'): 47, ('185', 'Yes'): 71, ('185', 'No'): 41, ('186', 'Yes'): 81, ('186', 'No'): 38, ('187', 'Yes'): 59, ('187', 'No'): 51, ('188', 'Yes'): 71, ('188', 'No'): 38, ('189', 'Yes'): 60, ('189', 'No'): 42, ('190', 'Yes'): 57, ('190', 'No'): 48, ('191', 'Yes'): 59, ('191', 'No'): 45, ('192', 'Yes'): 74, ('192', 'No'): 40, ('193', 'Yes'): 68, ('193', 'No'): 53, ('194', 'Yes'): 50, ('194', 'No'): 44, ('195', 'Yes'): 61, ('195', 'No'): 35, ('196', 'Yes'): 74, ('196', 'No'): 43, ('197', 'Yes'): 69, ('197', 'No'): 47, ('198', 'Yes'): 62, ('198', 'No'): 47, ('199', 'Yes'): 57, ('199', 'No'): 41, ('200', 'Yes'): 63, ('200', 'No'): 42, ('201', 'Yes'): 62, ('201', 'No'): 42, ('202', 'Yes'): 78, ('202', 'No'): 49, ('203', 'Yes'): 72, ('203', 'No'): 42, ('204', 'Yes'): 74, ('204', 'No'): 56, ('205', 'Yes'): 64, ('205', 'No'): 54, ('206', 'Yes'): 56, ('206', 'No'): 54, ('207', 'Yes'): 55, ('207', 'No'): 51, ('208', 'No'): 65, ('208', 'Yes'): 65, ('215', 'Yes'): 48, ('215', 'No'): 38, ('216', 'Yes'): 50, ('216', 'No'): 33, ('217', 'Yes'): 54, ('217', 'No'): 35, ('218', 'Yes'): 47, ('218', 'No'): 32, ('219', 'Yes'): 43, ('219', 'No'): 35, ('220', 'Yes'): 44, ('220', 'No'): 39, ('221', 'Yes'): 47, ('221', 'No'): 40, ('222', 'Yes'): 42, ('222', 'No'): 31, ('223', 'Yes'): 61, ('223', 'No'): 41, ('224', 'Yes'): 48, ('224', 'No'): 36, ('225', 'Yes'): 46, ('225', 'No'): 32, ('226', 'Yes'): 48, ('226', 'No'): 32, ('227', 'Yes'): 42, ('227', 'No'): 29, ('228', 'Yes'): 49, ('228', 'No'): 35, ('229', 'Yes'): 57, ('229', 'No'): 37, ('230', 'No'): 52, ('230', 'Yes'): 48, ('231', 'Yes'): 53, ('231', 'No'): 37, ('232', 'Yes'): 46, ('232', 'No'): 34, ('233', 'Yes'): 45, ('233', 'No'): 38, ('234', 'Yes'): 48, ('234', 'No'): 37, ('235', 'Yes'): 55, ('235', 'No'): 44, ('236', 'Yes'): 44, ('236', 'No'): 32, ('237', 'Yes'): 50, ('237', 'No'): 34, ('238', 'Yes'): 56, ('238', 'No'): 35, ('239', 'Yes'): 52, ('239', 'No'): 34, ('240', 'Yes'): 56, ('240', 'No'): 41, ('241', 'Yes'): 51, ('241', 'No'): 39, ('242', 'Yes'): 61, ('242', 'No'): 43, ('243', 'Yes'): 48, ('243', 'No'): 30, ('244', 'Yes'): 53, ('244', 'No'): 35, ('245', 'No'): 36, ('245', 'Yes'): 36, ('246', 'Yes'): 52, ('246', 'No'): 40, ('247', 'No'): 39, ('247', 'Yes'): 38, ('248', 'Yes'): 51, ('248', 'No'): 25, ('249', 'Yes'): 55, ('249', 'No'): 40, ('250', 'No'): 42, ('250', 'Yes'): 41, ('251', 'Yes'): 50, ('251', 'No'): 29, ('252', 'Yes'): 58, ('252', 'No'): 40, ('253', 'Yes'): 50, ('253', 'No'): 31, ('254', 'Yes'): 43, ('254', 'No'): 31, ('255', 'Yes'): 61, ('255', 'No'): 31, ('256', 'No'): 58, ('256', 'Yes'): 50, ('257', 'Yes'): 49, ('257', 'No'): 37, ('258', 'Yes'): 37, ('258', 'No'): 28, ('259', 'Yes'): 46, ('259', 'No'): 34, ('260', 'Yes'): 47, ('260', 'No'): 36, ('261', 'No'): 39, ('261', 'Yes'): 36, ('262', 'Yes'): 49, ('262', 'No'): 31, ('263', 'Yes'): 44, ('263', 'No'): 35, ('264', 'Yes'): 53, ('264', 'No'): 31, ('280', 'Yes'): 56, ('280', 'No'): 43, ('281', 'Yes'): 56, ('281', 'No'): 33, ('282', 'Yes'): 46, ('282', 'No'): 33, ('283', 'No'): 53, ('283', 'Yes'): 37, ('284', 'Yes'): 44, ('284', 'No'): 43, ('285', 'No'): 40, ('285', 'Yes'): 40, ('286', 'Yes'): 58, ('286', 'No'): 32, ('287', 'Yes'): 40, ('287', 'No'): 25, ('288', 'Yes'): 50, ('288', 'No'): 36, ('289', 'Yes'): 42, ('289', 'No'): 40, ('290', 'Yes'): 52, ('290', 'No'): 28, ('291', 'Yes'): 44, ('291', 'No'): 29, ('292', 'Yes'): 48, ('292', 'No'): 38, ('293', 'Yes'): 48, ('293', 'No'): 40, ('294', 'Yes'): 56, ('294', 'No'): 45, ('295', 'Yes'): 57, ('295', 'No'): 42, ('296', 'Yes'): 42, ('296', 'No'): 38, ('297', 'Yes'): 36, ('297', 'No'): 22, ('298', 'Yes'): 46, ('298', 'No'): 29, ('299', 'Yes'): 46, ('299', 'No'): 30, ('300', 'Yes'): 45, ('300', 'No'): 25, ('301', 'Yes'): 51, ('301', 'No'): 35, ('302', 'Yes'): 49, ('302', 'No'): 36, ('303', 'Yes'): 64, ('303', 'No'): 36, ('304', 'Yes'): 43, ('304', 'No'): 31, ('305', 'Yes'): 42, ('305', 'No'): 36, ('306', 'Yes'): 38, ('306', 'No'): 31, ('307', 'Yes'): 47, ('307', 'No'): 36, ('308', 'Yes'): 46, ('308', 'No'): 35, ('309', 'Yes'): 62, ('309', 'No'): 32, ('310', 'Yes'): 50, ('310', 'No'): 28, ('311', 'Yes'): 42, ('311', 'No'): 37, ('312', 'Yes'): 48, ('312', 'No'): 35, ('313', 'Yes'): 54, ('313', 'No'): 31, ('314', 'Yes'): 42, ('314', 'No'): 35, ('315', 'Yes'): 54, ('315', 'No'): 33, ('316', 'Yes'): 62, ('316', 'No'): 39, ('326', 'Yes'): 34, ('326', 'No'): 25, ('327', 'Yes'): 45, ('327', 'No'): 17, ('328', 'Yes'): 34, ('328', 'No'): 17, ('329', 'Yes'): 29, ('329', 'No'): 25, ('330', 'Yes'): 35, ('330', 'No'): 23, ('331', 'No'): 25, ('331', 'Yes'): 24, ('332', 'Yes'): 28, ('332', 'No'): 21, ('333', 'Yes'): 26, ('333', 'No'): 19, ('334', 'Yes'): 33, ('334', 'No'): 21, ('335', 'Yes'): 38, ('335', 'No'): 30, ('336', 'Yes'): 37, ('336', 'No'): 19, ('337', 'Yes'): 37, ('337', 'No'): 24, ('338', 'Yes'): 33, ('338', 'No'): 22, ('339', 'Yes'): 26, ('339', 'No'): 19, ('340', 'Yes'): 32, ('340', 'No'): 27, ('341', 'Yes'): 34, ('341', 'No'): 22, ('342', 'Yes'): 31, ('342', 'No'): 19, ('343', 'No'): 30, ('343', 'Yes'): 30, ('344', 'Yes'): 45, ('344', 'No'): 21, ('345', 'Yes'): 29, ('345', 'No'): 22, ('346', 'No'): 24, ('346', 'Yes'): 23, ('347', 'No'): 26, ('347', 'Yes'): 24, ('348', 'Yes'): 37, ('348', 'No'): 28, ('349', 'Yes'): 28, ('349', 'No'): 26, ('350', 'Yes'): 34, ('350', 'No'): 21, ('351', 'No'): 25, ('351', 'Yes'): 21, ('352', 'No'): 22, ('352', 'Yes'): 22, ('353', 'Yes'): 33, ('353', 'No'): 29, ('354', 'Yes'): 30, ('354', 'No'): 28, ('355', 'Yes'): 32, ('355', 'No'): 16, ('356', 'Yes'): 27, ('356', 'No'): 26, ('357', 'Yes'): 34, ('357', 'No'): 26, ('358', 'No'): 28, ('358', 'Yes'): 25, ('368', 'Yes'): 36, ('368', 'No'): 30, ('369', 'Yes'): 25, ('369', 'No'): 22, ('370', 'Yes'): 33, ('370', 'No'): 25, ('371', 'Yes'): 27, ('371', 'No'): 18, ('372', 'Yes'): 26, ('372', 'No'): 22, ('373', 'No'): 33, ('373', 'Yes'): 27, ('374', 'Yes'): 35, ('374', 'No'): 33, ('375', 'Yes'): 28, ('375', 'No'): 22, ('376', 'Yes'): 31, ('376', 'No'): 22, ('377', 'Yes'): 30, ('377', 'No'): 24, ('378', 'Yes'): 26, ('378', 'No'): 23, ('379', 'No'): 37, ('379', 'Yes'): 23, ('380', 'Yes'): 28, ('380', 'No'): 21, ('381', 'No'): 25, ('381', 'Yes'): 20, ('382', 'Yes'): 26, ('382', 'No'): 21, ('383', 'Yes'): 33, ('383', 'No'): 28, ('384', 'Yes'): 27, ('384', 'No'): 24, ('385', 'Yes'): 38, ('385', 'No'): 23, ('386', 'Yes'): 39, ('386', 'No'): 37, ('387', 'Yes'): 31, ('387', 'No'): 11, ('388', 'Yes'): 33, ('388', 'No'): 18, ('389', 'Yes'): 31, ('389', 'No'): 17, ('390', 'No'): 27, ('390', 'Yes'): 25, ('391', 'Yes'): 25, ('391', 'No'): 17, ('392', 'No'): 36, ('392', 'Yes'): 29, ('393', 'Yes'): 27, ('393', 'No'): 25, ('394', 'Yes'): 26, ('394', 'No'): 24, ('395', 'Yes'): 39, ('395', 'No'): 28, ('405', 'Yes'): 13, ('405', 'No'): 12, ('406', 'Yes'): 10, ('406', 'No'): 6, ('407', 'No'): 16, ('407', 'Yes'): 15, ('408', 'No'): 16, ('408', 'Yes'): 11, ('409', 'No'): 16, ('409', 'Yes'): 15, ('410', 'Yes'): 16, ('410', 'No'): 9, ('411', 'Yes'): 16, ('411', 'No'): 14, ('412', 'Yes'): 17, ('412', 'No'): 11, ('413', 'Yes'): 12, ('413', 'No'): 11, ('414', 'Yes'): 17, ('414', 'No'): 14, ('415', 'No'): 14, ('415', 'Yes'): 11, ('416', 'Yes'): 19, ('416', 'No'): 11, ('417', 'No'): 13, ('417', 'Yes'): 9, ('418', 'Yes'): 13, ('418', 'No'): 11, ('419', 'Yes'): 14, ('419', 'No'): 12, ('420', 'No'): 19, ('420', 'Yes'): 12, ('421', 'Yes'): 15, ('421', 'No'): 6, ('422', 'Yes'): 19, ('422', 'No'): 16, ('423', 'No'): 12, ('423', 'Yes'): 7, ('424', 'Yes'): 24, ('424', 'No'): 9, ('425', 'Yes'): 16, ('425', 'No'): 11, ('432', 'Yes'): 16, ('432', 'No'): 15, ('433', 'No'): 13, ('433', 'Yes'): 13, ('434', 'Yes'): 19, ('434', 'No'): 7, ('435', 'Yes'): 14, ('435', 'No'): 12, ('436', 'Yes'): 14, ('436', 'No'): 5, ('437', 'Yes'): 11, ('437', 'No'): 9, ('438', 'Yes'): 13, ('438', 'No'): 9, ('439', 'Yes'): 19, ('439', 'No'): 8, ('440', 'No'): 13, ('440', 'Yes'): 6, ('441', 'Yes'): 15, ('441', 'No'): 10, ('442', 'Yes'): 15, ('442', 'No'): 6, ('443', 'No'): 11, ('443', 'Yes'): 10, ('444', 'No'): 12, ('444', 'Yes'): 11, ('445', 'Yes'): 14, ('445', 'No'): 8, ('446', 'No'): 14, ('446', 'Yes'): 11, ('453', 'Yes'): 25, ('453', 'No'): 21, ('454', 'Yes'): 23, ('454', 'No'): 22, ('455', 'Yes'): 34, ('455', 'No'): 7, ('456', 'Yes'): 31, ('456', 'No'): 13, ('457', 'Yes'): 22, ('457', 'No'): 14, ('458', 'Yes'): 22, ('458', 'No'): 16, ('459', 'Yes'): 23, ('459', 'No'): 19, ('460', 'Yes'): 18, ('460', 'No'): 17, ('461', 'Yes'): 24, ('461', 'No'): 18, ('462', 'Yes'): 18, ('462', 'No'): 13, ('463', 'Yes'): 26, ('463', 'No'): 23, ('464', 'Yes'): 29, ('464', 'No'): 18, ('465', 'Yes'): 21, ('465', 'No'): 14, ('466', 'Yes'): 25, ('466', 'No'): 11, ('467', 'Yes'): 26, ('467', 'No'): 17, ('468', 'Yes'): 24, ('468', 'No'): 17, ('469', 'Yes'): 27, ('469', 'No'): 18, ('470', 'Yes'): 30, ('470', 'No'): 15, ('471', 'Yes'): 30, ('471', 'No'): 15, ('472', 'Yes'): 18, ('472', 'No'): 14, ('473', 'Yes'): 25, ('473', 'No'): 12, ('474', 'Yes'): 18, ('474', 'No'): 15, ('475', 'Yes'): 14, ('475', 'No'): 12, ('476', 'Yes'): 25, ('476', 'No'): 17, ('477', 'Yes'): 24, ('477', 'No'): 14, ('478', 'Yes'): 22, ('478', 'No'): 21, ('479', 'Yes'): 21, ('479', 'No'): 19, ('480', 'No'): 25, ('480', 'Yes'): 19, ('481', 'Yes'): 15, ('481', 'No'): 14, ('482', 'Yes'): 32, ('482', 'No'): 13, ('483', 'Yes'): 23, ('483', 'No'): 11, ('484', 'Yes'): 31, ('484', 'No'): 26, ('485', 'Yes'): 22, ('485', 'No'): 13, ('486', 'Yes'): 16, ('486', 'No'): 15, ('487', 'Yes'): 25, ('487', 'No'): 14, ('488', 'Yes'): 24, ('488', 'No'): 20, ('489', 'Yes'): 20, ('489', 'No'): 16, ('490', 'Yes'): 15, ('490', 'No'): 14, ('491', 'Yes'): 20, ('491', 'No'): 16, ('492', 'No'): 18, ('492', 'Yes'): 17, ('493', 'Yes'): 24, ('493', 'No'): 19, ('494', 'Yes'): 29, ('494', 'No'): 11, ('495', 'Yes'): 24, ('495', 'No'): 15, ('496', 'Yes'): 22, ('496', 'No'): 19, ('497', 'Yes'): 26, ('497', 'No'): 14, ('498', 'Yes'): 22, ('498', 'No'): 9, ('499', 'Yes'): 22, ('499', 'No'): 8, ('500', 'Yes'): 27, ('500', 'No'): 12, ('501', 'Yes'): 26, ('501', 'No'): 16, ('502', 'Yes'): 25, ('502', 'No'): 16, ('503', 'Yes'): 29, ('503', 'No'): 10, ('504', 'Yes'): 23, ('504', 'No'): 20, ('505', 'Yes'): 9, ('505', 'No'): 8, ('506', 'Yes'): 32, ('506', 'No'): 17, ('507', 'Yes'): 21, ('507', 'No'): 14, ('508', 'Yes'): 22, ('508', 'No'): 18, ('509', 'Yes'): 25, ('509', 'No'): 14, ('510', 'Yes'): 20, ('510', 'No'): 12, ('511', 'Yes'): 25, ('511', 'No'): 14, ('512', 'Yes'): 26, ('512', 'No'): 17, ('513', 'Yes'): 17, ('513', 'No'): 14, ('514', 'No'): 18, ('514', 'Yes'): 12, ('515', 'Yes'): 22, ('515', 'No'): 13, ('516', 'No'): 20, ('516', 'Yes'): 20, ('517', 'Yes'): 24, ('517', 'No'): 15, ('533', 'No'): 22, ('533', 'Yes'): 18, ('534', 'Yes'): 32, ('534', 'No'): 14, ('535', 'Yes'): 24, ('535', 'No'): 19, ('536', 'Yes'): 22, ('536', 'No'): 20, ('537', 'Yes'): 21, ('537', 'No'): 16, ('538', 'Yes'): 33, ('538', 'No'): 19, ('539', 'Yes'): 25, ('539', 'No'): 24, ('540', 'Yes'): 21, ('540', 'No'): 12, ('541', 'Yes'): 23, ('541', 'No'): 16, ('542', 'Yes'): 21, ('542', 'No'): 12, ('543', 'No'): 25, ('543', 'Yes'): 23, ('544', 'Yes'): 26, ('544', 'No'): 14, ('545', 'Yes'): 27, ('545', 'No'): 17, ('546', 'Yes'): 31, ('546', 'No'): 17, ('547', 'No'): 26, ('547', 'Yes'): 21, ('548', 'No'): 20, ('548', 'Yes'): 19, ('549', 'Yes'): 27, ('549', 'No'): 13, ('550', 'Yes'): 21, ('550', 'No'): 12, ('551', 'Yes'): 24, ('551', 'No'): 17, ('552', 'Yes'): 27, ('552', 'No'): 21, ('553', 'Yes'): 17, ('553', 'No'): 15, ('554', 'Yes'): 22, ('554', 'No'): 15, ('555', 'Yes'): 19, ('555', 'No'): 12, ('556', 'Yes'): 26, ('556', 'No'): 14, ('557', 'Yes'): 19, ('557', 'No'): 16, ('558', 'No'): 20, ('558', 'Yes'): 20, ('559', 'Yes'): 23, ('559', 'No'): 8, ('560', 'Yes'): 16, ('560', 'No'): 10, ('561', 'No'): 19, ('561', 'Yes'): 17, ('562', 'No'): 16, ('562', 'Yes'): 14, ('563', 'Yes'): 24, ('563', 'No'): 21, ('564', 'Yes'): 21, ('564', 'No'): 17, ('565', 'Yes'): 19, ('565', 'No'): 14, ('566', 'Yes'): 22, ('566', 'No'): 9, ('573', 'Yes'): 23, ('573', 'No'): 15, ('574', 'No'): 14, ('574', 'Yes'): 14, ('575', 'Yes'): 21, ('575', 'No'): 9, ('576', 'No'): 12, ('576', 'Yes'): 11, ('577', 'Yes'): 20, ('577', 'No'): 12, ('578', 'Yes'): 19, ('578', 'No'): 11, ('579', 'Yes'): 20, ('579', 'No'): 9, ('580', 'Yes'): 21, ('580', 'No'): 14, ('581', 'Yes'): 12, ('581', 'No'): 10, ('582', 'No'): 7, ('582', 'Yes'): 7, ('583', 'Yes'): 14, ('583', 'No'): 8, ('584', 'Yes'): 21, ('584', 'No'): 13, ('585', 'Yes'): 24, ('585', 'No'): 22, ('592', 'Yes'): 10, ('592', 'No'): 7, ('593', 'Yes'): 14, ('593', 'No'): 9, ('594', 'Yes'): 20, ('594', 'No'): 9, ('595', 'Yes'): 15, ('595', 'No'): 7, ('596', 'Yes'): 14, ('596', 'No'): 13, ('597', 'No'): 18, ('597', 'Yes'): 11, ('598', 'Yes'): 13, ('598', 'No'): 11, ('599', 'Yes'): 19, ('599', 'No'): 9, ('600', 'Yes'): 13, ('600', 'No'): 5, ('601', 'Yes'): 13, ('601', 'No'): 8, ('602', 'Yes'): 11, ('602', 'No'): 6, ('603', 'No'): 17, ('603', 'Yes'): 15, ('604', 'Yes'): 19, ('604', 'No'): 10, ('605', 'No'): 16, ('605', 'Yes'): 8, ('606', 'Yes'): 13, ('606', 'No'): 9, ('607', 'Yes'): 15, ('607', 'No'): 9, ('614', 'Yes'): 25, ('614', 'No'): 18, ('615', 'Yes'): 27, ('615', 'No'): 22, ('616', 'Yes'): 27, ('616', 'No'): 21, ('617', 'No'): 27, ('617', 'Yes'): 24, ('618', 'Yes'): 30, ('618', 'No'): 16, ('619', 'Yes'): 27, ('619', 'No'): 23, ('620', 'Yes'): 33, ('620', 'No'): 21, ('621', 'Yes'): 18, ('621', 'No'): 15, ('622', 'Yes'): 24, ('622', 'No'): 20, ('623', 'Yes'): 20, ('623', 'No'): 17, ('624', 'Yes'): 25, ('624', 'No'): 18, ('625', 'Yes'): 25, ('625', 'No'): 17, ('626', 'Yes'): 25, ('626', 'No'): 19, ('627', 'Yes'): 31, ('627', 'No'): 16, ('628', 'Yes'): 29, ('628', 'No'): 20, ('629', 'Yes'): 25, ('629', 'No'): 19, ('630', 'Yes'): 22, ('630', 'No'): 14, ('637', 'Yes'): 30, ('637', 'No'): 16, ('638', 'No'): 24, ('638', 'Yes'): 21, ('639', 'Yes'): 23, ('639', 'No'): 22, ('640', 'Yes'): 31, ('640', 'No'): 16, ('641', 'Yes'): 34, ('641', 'No'): 19, ('642', 'No'): 21, ('642', 'Yes'): 16, ('643', 'Yes'): 29, ('643', 'No'): 22, ('644', 'Yes'): 22, ('644', 'No'): 17, ('645', 'Yes'): 22, ('645', 'No'): 17, ('652', 'Yes'): 32, ('652', 'No'): 30, ('653', 'Yes'): 28, ('653', 'No'): 19, ('654', 'Yes'): 18, ('654', 'No'): 17, ('655', 'No'): 25, ('655', 'Yes'): 23, ('656', 'Yes'): 15, ('656', 'No'): 11, ('657', 'Yes'): 25, ('657', 'No'): 17, ('658', 'No'): 22, ('658', 'Yes'): 20, ('659', 'Yes'): 31, ('659', 'No'): 16, ('660', 'Yes'): 23, ('660', 'No'): 20, ('661', 'Yes'): 24, ('661', 'No'): 14, ('662', 'Yes'): 30, ('662', 'No'): 12, ('663', 'Yes'): 25, ('663', 'No'): 22, ('664', 'Yes'): 34, ('664', 'No'): 23, ('665', 'Yes'): 25, ('665', 'No'): 22, ('666', 'Yes'): 39, ('666', 'No'): 30, ('667', 'Yes'): 34, ('667', 'No'): 17, ('668', 'Yes'): 21, ('668', 'No'): 16, ('669', 'Yes'): 29, (

In [83]:
train_fin2['BID_Yes']= np.zeros(len(train_fin2['BeneID']))
train_fin2['BID_No']= np.zeros(len(train_fin2['BeneID']))

train_fin2['BID_Yes']= np.zeros(len(train_fin2['BeneID']))
train_fin2['BID_No']= np.zeros(len(train_fin2['BeneID']))

train_fin2['BID_Yes'],train_fin2['BID_No'],cv_fin2['BID_Yes'],cv_fin2['BID_No'],bid_dict= response_coding(train_fin2,cv_fin2,'BeneID','PotentialFraud')

In [84]:
train_fin2['CID_Yes']= np.zeros(len(train_fin2['ClaimID']))
train_fin2['CID_No']= np.zeros(len(train_fin2['ClaimID']))

cv_fin2['CID_Yes']= np.zeros(len(cv_fin2['ClaimID']))
cv_fin2['CID_No']= np.zeros(len(cv_fin2['ClaimID']))

train_fin2['CID_Yes'],train_fin2['CID_No'],cv_fin2['CID_Yes'],cv_fin2['CID_No'],cid_dict= response_coding(train_fin2,cv_fin2,'ClaimID','PotentialFraud')

In [85]:
train_fin2['Pvr_Yes']= np.zeros(len(train_fin2['Provider']))
train_fin2['Pvr_No']= np.zeros(len(train_fin2['Provider']))

cv_fin2['Pvr_Yes']= np.zeros(len(cv_fin2['Provider']))
cv_fin2['Pvr_No']= np.zeros(len(cv_fin2['Provider']))

train_fin2['Pvr_Yes'],train_fin2['Pvr_No'],cv_fin2['Pvr_Yes'],cv_fin2['Pvr_No'],pvr_dict= response_coding(train_fin2,cv_fin2,'Provider','PotentialFraud')

In [86]:
train_fin2['Ap_Yes']= np.zeros(len(train_fin2['AttendingPhysician']))
train_fin2['Ap_No']= np.zeros(len(train_fin2['AttendingPhysician']))

cv_fin2['Ap_Yes']= np.zeros(len(cv_fin2['AttendingPhysician']))
cv_fin2['Ap_No']= np.zeros(len(cv_fin2['AttendingPhysician']))


train_fin2['Ap_Yes'],train_fin2['Ap_No'],cv_fin2['Ap_Yes'],cv_fin2['Ap_No'],ap_dict= response_coding(train_fin2,cv_fin2,'AttendingPhysician','PotentialFraud')

In [87]:
train_fin2.drop(['State','County','DiagnosisGroupCode','BeneID','ClaimID','Provider','AttendingPhysician'], axis=1, inplace=True)
cv_fin2.drop(['State','County','DiagnosisGroupCode','BeneID','ClaimID','Provider','AttendingPhysician'], axis=1, inplace=True)

In [88]:
with open('/content/drive/MyDrive/Colab Notebooks/train_fin_n3.pkl','wb') as tr_df:
    pickle.dump(train_fin2,tr_df)
with open('/content/drive/MyDrive/Colab Notebooks/cv_fin_n3.pkl','wb') as cv_df:
    pickle.dump(cv_fin2,cv_df)

In [89]:
#Dropping the NoOfMonths
train_fin2.drop(['NoOfMonths_PartACov','NoOfMonths_PartBCov'],axis=1, inplace= True)
cv_fin2.drop(['NoOfMonths_PartACov','NoOfMonths_PartBCov'],axis=1, inplace= True)

In [90]:
train_fin2['DOB']= pd.to_datetime(train_fin2['DOB'])
train_fin2['DOD']= pd.to_datetime(train_fin2['DOD'])

cv_fin2['DOB']= pd.to_datetime(cv_fin2['DOB'])
cv_fin2['DOD']= pd.to_datetime(cv_fin2['DOD'])

In [91]:
#Calculating the age of each of the patients
train_fin2['age']= np.zeros(len(train_fin2['DOB']))

a_max_tr= train_fin2['DOD'].max()

for i in range(len(train_fin2['DOB'])):
    if pd.isnull(train_fin2['DOD'][i])== True:
        train_fin2['age'][i]= (a_max_tr-train_fin2['DOB'][i])/timedelta(days=365)
    else:
        train_fin2['age'][i]= (train_fin2['DOD'][i]-train_fin2['DOB'][i])/timedelta(days=365)

In [92]:
cv_fin2['age']= np.zeros(len(cv_fin2['DOB']))

a_max_cv= cv_fin2['DOD'].max()

for i in range(len(cv_fin2['DOB'])):
    if pd.isnull(cv_fin2['DOD'][i])== True:
        cv_fin2['age'][i]= (a_max_cv-train_fin2['DOB'][i])/timedelta(days=365)
    else:
        cv_fin2['age'][i]= (cv_fin2['DOD'][i]-cv_fin2['DOB'][i])/timedelta(days=365)

In [93]:
#Dropping the DOB and DOD columns from the dataset
train_fin2.drop(['DOB','DOD'], axis=1,inplace=True)
cv_fin2.drop(['DOB','DOD'], axis=1,inplace=True)

In [94]:
#Imputing the ClaimAditDiagosis variable with 0
train_fin2['ClmAdmitDiagnosisCode']= train_fin2['ClmAdmitDiagnosisCode'].fillna(0)
cv_fin2['ClmAdmitDiagnosisCode']= cv_fin2['ClmAdmitDiagnosisCode'].fillna(0)

In [95]:
#Response Encoding of the ClaimsAdmitDiagnosis variable due to the presence of large number of categories in the variable
train_fin2['CADC_Yes']= np.zeros(len(train_fin2['ClmAdmitDiagnosisCode']))
train_fin2['CADC_No']= np.zeros(len(train_fin2['ClmAdmitDiagnosisCode']))
cv_fin2['CADC_Yes']= np.zeros(len(cv_fin2['ClmAdmitDiagnosisCode']))
cv_fin2['CADC_No']= np.zeros(len(cv_fin2['ClmAdmitDiagnosisCode']))

train_fin2['CADC_Yes'],train_fin2['CADC_No'],cv_fin2['CADC_Yes'],cv_fin2['CADC_No'],cadc_dict= response_coding(train_fin2,cv_fin2,'ClmAdmitDiagnosisCode','PotentialFraud')

In [96]:
#Dropping the ClmAdmitDiagnosisCode from the dataset
train_fin2.drop(['ClmAdmitDiagnosisCode'], axis=1, inplace=True)
cv_fin2.drop(['ClmAdmitDiagnosisCode'], axis=1, inplace=True)

In [97]:
#Replacing the Y and 0 in the RenalDiseaseIdicator varibale with 1 and 0
train_fin2['RenalDiseaseIndicator']= train_fin2['RenalDiseaseIndicator'].map({'Y':1,'0':0})
cv_fin2['RenalDiseaseIndicator']= cv_fin2['RenalDiseaseIndicator'].map({'Y':1,'0':0})

In [98]:
nam_cols= ['ChronicCond_Alzheimer','ChronicCond_Heartfailure','ChronicCond_KidneyDisease','ChronicCond_Cancer','ChronicCond_ObstrPulmonary','ChronicCond_Depression','ChronicCond_Diabetes','ChronicCond_IschemicHeart','ChronicCond_Osteoporasis','ChronicCond_rheumatoidarthritis','ChronicCond_stroke']

In [99]:
for i in nam_cols:
    train_fin2[i]= train_fin2[i].map({1:0,2:1})
    cv_fin2[i]= cv_fin2[i].map({1:0,2:1})

In [100]:
train_fin2['Gender']= train_fin2['Gender'].map({1:'G1',2:'G2'})
train_fin2['Race']= train_fin2['Race'].map({1:'R1',2:'R2',3:'R3',5:'R4'})

cv_fin2['Gender']= cv_fin2['Gender'].map({1:'G1',2:'G2'})
cv_fin2['Race']= cv_fin2['Race'].map({1:'R1',2:'R2',3:'R3',5:'R4'})

In [101]:
#Imputing the DeductibleAmtPaid with Median strategy using SimpleImpute
num_imp= SimpleImputer(missing_values= np.nan, strategy= 'median')
train_fin2["DeductibleAmtPaid"]= num_imp.fit_transform(train_fin2['DeductibleAmtPaid'].values.reshape(-1,1))[:,0]
cv_fin2["DeductibleAmtPaid"]= num_imp.transform(cv_fin2['DeductibleAmtPaid'].values.reshape(-1,1))[:,0]

In [102]:
with open('/content/drive/MyDrive/Colab Notebooks/train_fin_n3.pkl','wb') as tr_df:
    pickle.dump(train_fin2,tr_df)
with open('/content/drive/MyDrive/Colab Notebooks/cv_fin_n3.pkl','wb') as cv_df:
    pickle.dump(cv_fin2,cv_df)

In [110]:
with open('/content/drive/MyDrive/Colab Notebooks/train_fin_n3.pkl','rb') as tr_df:
    train_fin3= pickle.load(tr_df)
with open('/content/drive/MyDrive/Colab Notebooks/cv_fin_n3.pkl','rb') as cv_df:
    cv_fin3= pickle.load(cv_df)

In [111]:
num_cols=['InscClaimAmtReimbursed','DeductibleAmtPaid','IPAnnualReimbursementAmt','IPAnnualDeductibleAmt','OPAnnualReimbursementAmt','OPAnnualDeductibleAmt','age']

In [112]:
train_fin3.head()

,InscClaimAmtReimbursed,DeductibleAmtPaid,Gender,Race,RenalDiseaseIndicator,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,...,BID_No,CID_Yes,CID_No,Pvr_Yes,Pvr_No,Ap_Yes,Ap_No,age,CADC_Yes,CADC_No
0,90,0.0,G2,R1,0,1,1,0,1,1,...,0.875000,0.090909,0.909091,0.000540,0.999460,0.003215,0.996785,71.550685,0.361446,0.638554
1,5000,1068.0,G1,R1,1,0,1,0,1,1,...,0.090909,0.909091,0.090909,0.999011,0.000989,0.952381,0.047619,73.383562,0.571667,0.428333
2,400,0.0,G1,R1,0,1,0,1,1,1,...,0.500000,0.909091,0.090909,0.999965,0.000035,0.941176,0.058824,79.054795,0.365412,0.634588
3,30,0.0,G2,R2,0,1,1,0,1,1,...,0.012346,0.909091,0.090909,0.999947,0.000053,0.997375,0.002625,53.284932,0.365412,0.634588
4,2000,1068.0,G2,R1,0,0,0,1,1,1,...,0.800000,0.909091,0.090909,0.999174,0.000826,0.998959,0.001041,82.224658,0.520833,0.479167

In [113]:
cat_train= train_fin3.select_dtypes(include=['object']).copy()
cat_train.drop(['PotentialFraud'],axis=1,inplace=True)
cat_train.head()

  Gender Race IllnessNature
0     G2   R1     operating
1     G1   R1        simple
2     G1   R1        simple
3     G2   R2     operating
4     G2   R1      comorbid

In [109]:
train_fin3.head()

,InscClaimAmtReimbursed,DeductibleAmtPaid,Gender,Race,RenalDiseaseIndicator,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,...,CID_Yes,CID_No,Pvr_Yes,Pvr_No,Ap_Yes,Ap_No,age,CADC_Yes,CADC_No,age_bins
0,90,0.0,G2,R1,0,1,1,0,1,1,...,0.090909,0.909091,0.000540,0.999460,0.003215,0.996785,71.550685,0.361446,0.638554,60+
1,5000,1068.0,G1,R1,1,0,1,0,1,1,...,0.909091,0.090909,0.999011,0.000989,0.952381,0.047619,73.383562,0.571667,0.428333,60+
2,400,0.0,G1,R1,0,1,0,1,1,1,...,0.909091,0.090909,0.999965,0.000035,0.941176,0.058824,79.054795,0.365412,0.634588,60+
3,30,0.0,G2,R2,0,1,1,0,1,1,...,0.909091,0.090909,0.999947,0.000053,0.997375,0.002625,53.284932,0.365412,0.634588,50s
4,2000,1068.0,G2,R1,0,0,0,1,1,1,...,0.909091,0.090909,0.999174,0.000826,0.998959,0.001041,82.224658,0.520833,0.479167,80+

In [114]:
train_fin3.drop(['PotentialFraud'],axis=1, inplace=True)
cv_fin3.drop(['PotentialFraud'],axis=1,inplace=True)

In [115]:
with open('/content/drive/MyDrive/Colab Notebooks/train_fin_n4.pkl','wb') as tr_df:
    pickle.dump(train_fin3,tr_df)
with open('/content/drive/MyDrive/Colab Notebooks/cv_fin_n4.pkl','wb') as cv_df:
    pickle.dump(cv_fin3,cv_df)

In [116]:
with open('/content/drive/MyDrive/Colab Notebooks/train_fin_n4.pkl','rb') as tr_df:
    train_fin4= pickle.load(tr_df)
with open('/content/drive/MyDrive/Colab Notebooks/cv_fin_n4.pkl','rb') as cv_df:
    cv_fin4= pickle.load(cv_df)

In [117]:
train_fin4.head()

,InscClaimAmtReimbursed,DeductibleAmtPaid,Gender,Race,RenalDiseaseIndicator,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,...,BID_No,CID_Yes,CID_No,Pvr_Yes,Pvr_No,Ap_Yes,Ap_No,age,CADC_Yes,CADC_No
0,90,0.0,G2,R1,0,1,1,0,1,1,...,0.875000,0.090909,0.909091,0.000540,0.999460,0.003215,0.996785,71.550685,0.361446,0.638554
1,5000,1068.0,G1,R1,1,0,1,0,1,1,...,0.090909,0.909091,0.090909,0.999011,0.000989,0.952381,0.047619,73.383562,0.571667,0.428333
2,400,0.0,G1,R1,0,1,0,1,1,1,...,0.500000,0.909091,0.090909,0.999965,0.000035,0.941176,0.058824,79.054795,0.365412,0.634588
3,30,0.0,G2,R2,0,1,1,0,1,1,...,0.012346,0.909091,0.090909,0.999947,0.000053,0.997375,0.002625,53.284932,0.365412,0.634588
4,2000,1068.0,G2,R1,0,0,0,1,1,1,...,0.800000,0.909091,0.090909,0.999174,0.000826,0.998959,0.001041,82.224658,0.520833,0.479167

In [118]:
#Creat Dummies for the Gender, Race and the IllnessNature Variables in the Train Dataset
gender_dummies= pd.get_dummies(train_fin4['Gender'])
train_fin4= train_fin4.join(gender_dummies)

In [119]:
race_dummies= pd.get_dummies(train_fin4['Race'])
train_fin4= train_fin4.join(race_dummies)

In [120]:
illn_dummies= pd.get_dummies(train_fin4['IllnessNature'])
train_fin4= train_fin4.join(illn_dummies)

In [121]:
train_fin4.drop(['Gender','Race','IllnessNature'], axis=1, inplace=True)

In [122]:
train_fin4.head()

,InscClaimAmtReimbursed,DeductibleAmtPaid,RenalDiseaseIndicator,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,...,G1,G2,R1,R2,R3,R4,comorbid,operating,operating&comorbid,simple
0,90,0.0,0,1,1,0,1,1,0,0,...,0,1,1,0,0,0,0,1,0,0
1,5000,1068.0,1,0,1,0,1,1,1,0,...,1,0,1,0,0,0,0,0,0,1
2,400,0.0,0,1,0,1,1,1,1,0,...,1,0,1,0,0,0,0,0,0,1
3,30,0.0,0,1,1,0,1,1,0,1,...,0,1,0,1,0,0,0,1,0,0
4,2000,1068.0,0,0,0,1,1,1,1,1,...,0,1,1,0,0,0,1,0,0,0

In [123]:
#Creating Dummies for the Gender, Race and the IllnessNature Variables in the CV Dataset
cv_gender_dummies= pd.get_dummies(cv_fin4['Gender'])
cv_fin4= cv_fin4.join(cv_gender_dummies)

In [124]:
cv_race_dummies= pd.get_dummies(cv_fin4['Race'])
cv_fin4= cv_fin4.join(cv_race_dummies)

In [125]:
cv_illn_dummies= pd.get_dummies(cv_fin4['IllnessNature'])
cv_fin4= cv_fin4.join(cv_illn_dummies)

In [126]:
cv_fin4.drop(['Gender','Race','IllnessNature'], axis=1, inplace=True)

In [127]:
cv_fin4.head()

,InscClaimAmtReimbursed,DeductibleAmtPaid,RenalDiseaseIndicator,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,...,G1,G2,R1,R2,R3,R4,comorbid,operating,operating&comorbid,simple
0,300,0.0,0,1,1,1,1,1,1,0,...,1,0,1,0,0,0,0,0,1,0
1,80,50.0,0,1,1,1,1,1,1,1,...,0,1,0,1,0,0,0,0,0,1
2,200,0.0,0,1,1,1,1,1,1,1,...,0,1,1,0,0,0,0,0,0,1
3,200,0.0,0,1,0,1,0,0,0,0,...,0,1,1,0,0,0,0,1,0,0
4,300,0.0,0,0,1,1,1,1,1,0,...,1,0,1,0,0,0,0,0,0,1

In [128]:
#Scaling the Numerical Features using the SKLearn StandardScaler
scaler= StandardScaler()
num_cols=['InscClaimAmtReimbursed','DeductibleAmtPaid','IPAnnualReimbursementAmt','IPAnnualDeductibleAmt','OPAnnualReimbursementAmt','OPAnnualDeductibleAmt','#_Procedures','#_DiagnosisCodes','HospitalWeeks','ClaimWeeks','age']

for i in tqdm(num_cols):
    scaler.fit(train_fin4[i].values.reshape(-1,1))
    train_fin4[i]= scaler.transform(train_fin4[i].values.reshape(-1,1))
    cv_fin4[i]= scaler.transform(cv_fin4[i].values.reshape(-1,1))

100%|██████████| 11/11 [00:00<00:00, 39.46it/s]

In [129]:
print(train_fin4.shape)
print(train_y.shape)
print(cv_fin4.shape)
print(cv_y.shape)

(446568, 49)
(446568,)
(111643, 49)
(111643,)

In [130]:
#Replacing the Yes and No with 1 and 0 in the Train_y and CV_y datasets
train_y= train_y.map({'Yes':1,'No':0})
cv_y= cv_y.map({'Yes':1,'No':0})
print(train_y.head())
print('='*50)
print(cv_y.head())

0    0
1    1
2    1
3    1
4    1
Name: PotentialFraud, dtype: int64
==================================================
0    1
1    0
2    0
3    0
4    1
Name: PotentialFraud, dtype: int64

In [131]:
with open('/content/drive/MyDrive/Colab Notebooks/train_hc_fin.pkl','wb') as tr_df:
    pickle.dump(train_fin4,tr_df)
with open('/content/drive/MyDrive/Colab Notebooks/cv_hc_fin.pkl','wb') as cv_df:
    pickle.dump(cv_fin4,cv_df)

In [132]:
with open('/content/drive/MyDrive/Colab Notebooks/train_hc_fin.pkl','rb') as tr_df:
    train_fin4= pd.read_pickle(tr_df)
with open('/content/drive/MyDrive/Colab Notebooks/cv_hc_fin.pkl','rb') as cv_df:
    cv_fin4= pd.read_pickle(cv_df)

In [133]:

with open('/content/drive/MyDrive/Colab Notebooks/train_y.pkl','rb') as tr_y:
    train_y= pd.read_pickle(tr_y)
with open('/content/drive/MyDrive/Colab Notebooks/cv_y.pkl','rb') as cv_y:
    cv_y= pd.read_pickle(cv_y)

In [135]:
print(train_fin4.shape)
print(train_y.shape)
print(cv_fin4.shape)
print(cv_y.shape)

(446568, 49)
(446568,)
(111643, 49)
(111643,)